.UpdatesFilterButton__root__WE2t0 {
  display: flex;
  position: relative;
  height: auto;
  padding-bottom: 10px;
}
.UpdatesFilterButton__root--selected__WE2t0mzgl2 {
  border-left-style: solid;
  border-left-color: rgb(2, 157, 127)
    /* plasmic-token: 95829f13-f277-4fc0-b32e-c612d4afe537 */;
  border-bottom: 2px solid rgb(2, 157, 127)
    /* plasmic-token: 95829f13-f277-4fc0-b32e-c612d4afe537 */;
}
.UpdatesFilterButton__slotChildren__jLh5p {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}
