.UpdateTitleInputShim__updateTitle__umDZE {
  font-size: 22px;
  color: rgb(189, 189, 189) /* plasmic-token: HCHhYvBu9 */;
  width: auto;
  height: auto;
  position: relative;
  display: inline-block;
}
