.Home__root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgb(249, 249, 250) /* plasmic-token: 4lM47qJruvPIx-u */;
  flex-direction: column;
  padding-top: 200px;
}
.Home__root > .__wab_flex-container {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.Home__root > .__wab_flex-container > *,
.Home__root > .__wab_flex-container > .__wab_slot > * {
  margin-top: 30px;
}
.Home__editorContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  padding-left: 75px;
  max-width: 838px;
}
.Home__editor {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border-radius: 8px;
}
.Home__actionBar {
  display: inline-flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: auto;
  height: auto;
  flex-direction: column;
  align-self: flex-end;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
.Home__iconButton__g8Jgr.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  align-self: flex-start;
}
.Home__startIcon2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.Home__endIcon2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.Home__updatesContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 838px;
}
.Home__updateContainer {
  display: flex;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: auto;
  flex-direction: row;
  align-items: center;
}
.Home__updateActionContainer {
  display: inline-flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: auto;
  height: 100%;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.Home__updateActionContainer > .__wab_flex-container {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.Home__updateActionContainer > .__wab_flex-container > *,
.Home__updateActionContainer > .__wab_flex-container > .__wab_slot > * {
  margin-top: 10px;
}
.Home__iconButton__wtoQs.__wab_instance {
  position: relative;
}
.Home__svg__r0Kjs {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.Home__iconButton__xcG4.__wab_instance {
  position: relative;
}
.Home__startIcon3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.Home__iconButton__c3DgA.__wab_instance {
  position: relative;
}
.Home__startIcon32 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.Home__update.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
}
.Home__updateFeedbackContainer {
  display: inline-flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: auto;
  height: 100%;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.Home__updateFeedbackContainer > .__wab_flex-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.Home__updateFeedbackContainer > .__wab_flex-container > *,
.Home__updateFeedbackContainer > .__wab_flex-container > .__wab_slot > * {
  margin-top: 10px;
}
.Home__box {
  position: relative;
  width: auto;
  height: auto;
  align-self: center;
  text-align: center;
  background-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
  display: inline-block;
  border-radius: 100%;
  padding: 5px;
}
.Home__footer {
  display: flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 838px;
}
.Home__settingsContainer {
  display: inline-flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: auto;
  height: auto;
  flex-direction: column;
  align-self: auto;
  left: auto;
  top: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.Home__settingsContainer > .__wab_flex-container {
  flex-direction: column;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.Home__settingsContainer > .__wab_flex-container > *,
.Home__settingsContainer > .__wab_flex-container > .__wab_slot > * {
  margin-top: 10px;
}
.Home__iconButton__zX6H.__wab_instance {
  position: relative;
  width: auto;
  height: auto;
}
.Home__svg___0O2Rb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.Home__svg___1OBNx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.Home__iconButton__hDyK9.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
}
.Home__svg__jAIa1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.Home__svg__cw2T7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
