.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgb(249, 249, 250) /* plasmic-token: 2o4hRg6in */;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .root > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (min-width: 760px) and (max-width: 1440px) {
  .root {
    padding-left: 200px;
  }
}
.box__dMQq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  border-bottom: 1px solid rgb(224, 224, 224)
    /* plasmic-token: 9--4ZPcisViPq8V */;
}
.header:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.box___27XeS {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  top: auto;
  left: auto;
  height: 100%;
  transition-property: all;
  transition-duration: 250ms;
  width: 100%;
  overflow: hidden;
  background-color: rgb(249, 249, 250) /* plasmic-token: 4lM47qJruvPIx-u */;
  z-index: 15;
  transition-timing-function: ease-in-out;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .box___27XeS {
    left: auto;
    top: auto;
  }
}
.box__sqRU {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  align-self: flex-start;
  height: 100%;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
  min-height: 0;
}
.sidebar:global(.__wab_instance) {
  height: 100%;
  width: 280px;
  flex-shrink: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .sidebar:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.main {
  display: flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-self: auto;
  left: auto;
  top: auto;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}
.main > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.main > :global(.__wab_flex-container) > *,
.main > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 30px;
}
.mainHeader:global(.__wab_instance) {
  position: relative;
}
.box__ineb5 {
  display: inline-flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: auto;
  height: auto;
  flex-direction: column;
  left: auto;
  top: auto;
  overflow: auto;
  padding-left: 93px;
}
.box__ineb5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.box__ineb5 > :global(.__wab_flex-container) > *,
.box__ineb5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .box__ineb5 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .box__ineb5 > :global(.__wab_flex-container) > *,
  .box__ineb5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.actionBarContainer {
  display: inline-flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: auto;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
}
@media (min-width: 0px) and (max-width: 760px) {
  .actionBarContainer {
    padding-left: 0px;
  }
}
.actionBar:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
}
@media (min-width: 0px) and (max-width: 760px) {
  .actionBar:global(.__wab_instance) {
    width: 294px;
    align-self: flex-end;
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .box__pmC0Q {
    width: 159px;
  }
}
.box__g9Hh0 {
  display: block;
  position: relative;
  background-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
  width: 100%;
  height: 1px;
  max-width: 938px;
  min-width: 0;
  flex-shrink: 0;
}
.updatesContainer {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
}
.updatesContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.updatesContainer > :global(.__wab_flex-container) > *,
.updatesContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .updatesContainer {
    align-self: flex-start;
    height: auto;
    width: auto;
    display: inline-flex;
  }
}
.box__ezjEq {
  position: relative;
  width: auto;
  height: auto;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  align-self: flex-start;
  display: inline-block;
}
.update:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .update:global(.__wab_instance) {
    width: 100%;
    align-self: flex-start;
    min-width: 0;
    flex-shrink: 0;
  }
}
