.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgb(249, 249, 250) /* plasmic-token: 2o4hRg6in */;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 760px) and (max-width: 1440px) {
  .root {
    padding: 0px;
  }
}
.headerContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  border-bottom: 1px solid rgb(224, 224, 224)
    /* plasmic-token: 9--4ZPcisViPq8V */;
}
.header:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.box___27XeS {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  top: auto;
  left: auto;
  height: 100%;
  transition-property: all;
  transition-duration: 250ms;
  width: 100%;
  overflow: hidden;
  background-color: rgb(249, 249, 250) /* plasmic-token: 4lM47qJruvPIx-u */;
  z-index: 15;
  transition-timing-function: ease-in-out;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
}
.sidebarContainer {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  z-index: 10;
  align-self: flex-start;
  height: 100%;
  width: auto;
  transition-property: all;
  transition-duration: 1s;
  min-height: 0;
}
@media (min-width: 1440px) {
  .sidebarContainer {
    width: auto;
    display: inline-flex;
  }
}
.sidebarContainer__menuToggle {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.68) /* plasmic-token: JblSxxZLg */;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 1440px) {
  .sidebarContainer__menuToggle {
    width: auto;
    position: relative;
    left: auto;
    top: auto;
    display: inline-flex;
  }
}
@media (min-width: 760px) and (max-width: 1440px) {
  .sidebarContainer__menuToggle {
    width: auto;
    position: relative;
    left: auto;
    top: auto;
    background-color: rgba(255, 255, 255, 0) /* plasmic-token: W4gFmUIar */;
    display: inline-flex;
  }
}
.box__sqRU {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 1s;
  overflow: auto;
  min-height: 0;
  padding: 0px 20px;
}
.box__menuToggle__sqRUmPnl3 {
  background-color: rgb(249, 249, 250) /* plasmic-token: 2o4hRg6in */;
}
@media (min-width: 0px) and (max-width: 760px) {
  .box__menuToggle__sqRUmPnl3 {
    padding: 0px 60px;
  }
}
.sidebar__menuToggle:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.main {
  display: flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-self: auto;
  left: auto;
  top: auto;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}
.main > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.main > :global(.__wab_flex-container) > *,
.main > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 0px;
}
.mainHeaderContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  background-color: #ffffff /* plasmic-token: ynJoiIC0v */;
  border-bottom: 1px solid rgb(224, 224, 224)
    /* plasmic-token: 9--4ZPcisViPq8V */;
}
.mainHeader:global(.__wab_instance) {
  max-width: 1024px;
}
.box__of3XW {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  top: auto;
  left: auto;
  align-self: center;
  width: 100%;
  overflow: auto;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.container {
  display: flex;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: 100%;
  flex-direction: column;
  max-width: 1024px;
  margin-bottom: 100px;
  min-width: 0;
  min-height: 0;
  padding: 40px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .container {
    padding: 20px;
  }
}
.actionBarContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  align-self: auto;
  min-width: 0;
}
.actionBar:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
}
.box__g9Hh0 {
  display: block;
  position: relative;
  background-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
}
.updatesContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  margin-bottom: 90px;
  min-width: 0;
}
.updatesContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.updatesContainer > :global(.__wab_flex-container) > *,
.updatesContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 30px;
}
.box__ezjEq {
  position: relative;
  width: auto;
  height: auto;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  align-self: flex-start;
  display: inline-block;
}
.modalOverlay {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 0px;
  background-color: rgba(2, 2, 2, 0.68);
  width: 100%;
  height: 100%;
  z-index: 99;
  min-width: 0;
  min-height: 0;
}
.modalOverlay__menuToggle {
  background-color: rgba(2, 2, 2, 0.68) /* plasmic-token: JblSxxZLg */;
}
.loginModal:global(.__wab_instance) {
  position: relative;
}
