.Home__root__i4Rwt {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgb(249, 249, 250) /* plasmic-token: 4lM47qJruvPIx-u */;
  flex-direction: column;
  padding-top: 200px;
}
.Home__root__i4Rwt > .__wab_flex-container {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.Home__root__i4Rwt > .__wab_flex-container > *,
.Home__root__i4Rwt > .__wab_flex-container > .__wab_slot > * {
  margin-top: 30px;
}
.Home__actionBarContainer__m1ObZ {
  display: flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  padding-left: 74px;
}
.Home__actionBar__u6GxH.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
}
.Home__updatesContainer___9K5HA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
}
.Home__updatesContainer___9K5HA > .__wab_flex-container {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.Home__updatesContainer___9K5HA > .__wab_flex-container > *,
.Home__updatesContainer___9K5HA > .__wab_flex-container > .__wab_slot > * {
  margin-top: 20px;
}
.Home__footer__rH2Lk {
  display: flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 750px;
}
.Home__settingsContainer__i18Dv {
  display: inline-flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: auto;
  height: auto;
  flex-direction: column;
  align-self: auto;
  left: auto;
  top: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.Home__settingsContainer__i18Dv > .__wab_flex-container {
  flex-direction: column;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.Home__settingsContainer__i18Dv > .__wab_flex-container > *,
.Home__settingsContainer__i18Dv > .__wab_flex-container > .__wab_slot > * {
  margin-top: 10px;
}
.Home__iconButton__zX6H.__wab_instance {
  position: relative;
  width: auto;
  height: auto;
}
.Home__svg___0O2Rb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.Home__svg___1OBNx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.Home__iconButton__hDyK9.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
}
.Home__svg__jAIa1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.Home__svg__cw2T7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
