.root {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: relative;
  padding: 0px 0px 10px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 9px);
  height: calc(100% + 9px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 9px;
}
.box__vrRjI {
  display: flex;
  position: relative;
  opacity: 1;
  width: 43.89%;
  transform: scale(1, 1) rotate(0deg) translate(0px, 0px);
  transform-origin: top left;
  align-self: flex-start;
  padding-top: -60px;
}
.slotBooking3DaysBefor {
  font-family: "SF Pro Display";
  font-size: 14px;
  font-weight: 900;
  color: rgba(36, 25, 62, 1);
  text-align: left;
  line-height: 18px;
  letter-spacing: 0.491px;
}
.box___9KRuQ {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: calc(0px + 9px) !important;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}
.textbox {
  position: relative;
  padding-top: -73px;
}
