.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 10%;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 5%);
  height: calc(100% + 5%);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 5%;
}
@media (min-width: 1201px) {
  .root > :global(.__wab_flex-container) {
    align-items: center;
  }
}
@media (max-width: 767px) {
  .root {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    padding: 10px 0px;
  }
}
@media (max-width: 767px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 19px);
    height: calc(100% + 19px);
  }
}
@media (max-width: 767px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 19px;
  }
}
.step1 {
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  display: none;
}
.step1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 22px);
  height: calc(100% + 22px);
}
.step1 > :global(.__wab_flex-container) > *,
.step1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.step1 > :global(.__wab_flex-container) > picture > img,
.step1 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 22px;
}
@media (min-width: 1201px) {
  .step1 {
    display: none;
  }
}
@media (max-width: 767px) {
  .step1 {
    padding: 10px 30px;
  }
}
.step1__onboardingSteps_step1 {
  display: flex;
}
.step1__onboardingSteps_step2 {
  display: none;
}
.step1__onboardingSteps_step3 {
  display: none;
}
.freeBox__aFons {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text___1KDo {
  position: relative;
  font-size: 30px /* plasmic-token: mXYe0t8Ye */;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}
@media (max-width: 767px) {
  .text___1KDo {
    font-size: 22px /* plasmic-token: y8zaQOVwJ */;
    text-align: center;
    line-height: 1.1;
  }
}
.buttonSetContainerSurvey {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 460px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.radioButtonGroup__luNn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__xGpYk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__xGpYk > picture > img {
  object-fit: cover;
}
.img__xGpYk > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 1201px) {
  .img__xGpYk {
    object-fit: contain;
  }
}
@media (min-width: 1201px) {
  .img__xGpYk > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 1201px) {
  .img__xGpYk > .__wab_img-spacer > img {
    object-fit: contain;
  }
}
.img__jtspc {
  position: relative;
  object-fit: cover;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__jtspc > picture > img {
  object-fit: cover;
}
.img__jtspc > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 1201px) {
  .img__jtspc {
    object-fit: contain;
  }
}
@media (min-width: 1201px) {
  .img__jtspc > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 1201px) {
  .img__jtspc > .__wab_img-spacer > img {
    object-fit: contain;
  }
}
.img__zdWxi {
  position: relative;
  object-fit: cover;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__zdWxi > picture > img {
  object-fit: cover;
}
.img__zdWxi > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 1201px) {
  .img__zdWxi {
    object-fit: contain;
  }
}
@media (min-width: 1201px) {
  .img__zdWxi > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 1201px) {
  .img__zdWxi > .__wab_img-spacer > img {
    object-fit: contain;
  }
}
.img__faPxV {
  position: relative;
  object-fit: contain;
  height: 100%;
  width: 100%;
  max-width: 41px;
  min-width: 0;
  min-height: 0;
}
.img__faPxV > picture > img {
  object-fit: contain;
}
.img__faPxV > .__wab_img-spacer > img {
  object-fit: contain;
}
.button___77Pdq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
}
.svg__hreiL {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.svg__pzAAv {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.step2 {
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  display: none;
}
.step2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 22px);
  height: calc(100% + 22px);
}
.step2 > :global(.__wab_flex-container) > *,
.step2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.step2 > :global(.__wab_flex-container) > picture > img,
.step2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 22px;
}
@media (min-width: 1201px) {
  .step2 {
    display: flex;
  }
}
@media (max-width: 767px) {
  .step2 {
    padding: 10px 30px;
  }
}
.step2__onboardingSteps_step1 {
  display: none;
}
.step2__onboardingSteps_step2 {
  display: flex;
}
.step2__onboardingSteps_step3 {
  display: none;
}
.freeBox__pN5Ma {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__y6Bvv {
  position: relative;
  font-size: 30px /* plasmic-token: mXYe0t8Ye */;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}
@media (max-width: 767px) {
  .text__y6Bvv {
    font-size: 22px /* plasmic-token: y8zaQOVwJ */;
    text-align: center;
    line-height: 1.1;
  }
}
.profileForm:global(.__wab_instance) {
  position: relative;
  width: 100%;
  max-width: 460px;
  align-self: center;
  min-width: 0;
}
.button__gUwi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button__onboardingSteps_step2__gUwi1O3V:global(.__wab_instance) {
  align-self: center;
}
.svg__wS9Kr {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.svg__jOh2Y {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.step3 {
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  display: none;
}
.step3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 22px);
  height: calc(100% + 22px);
}
.step3 > :global(.__wab_flex-container) > *,
.step3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.step3 > :global(.__wab_flex-container) > picture > img,
.step3 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 22px;
}
@media (min-width: 1201px) {
  .step3 {
    display: none;
  }
}
@media (max-width: 767px) {
  .step3 {
    padding: 10px 30px;
  }
}
.step3__onboardingSteps_step3 {
  display: flex;
}
.freeBox__p0Ml9 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__p0Ml9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__p0Ml9 > :global(.__wab_flex-container) > *,
.freeBox__p0Ml9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p0Ml9 > :global(.__wab_flex-container) > picture > img,
.freeBox__p0Ml9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__yemtJ {
  position: relative;
  font-size: 30px /* plasmic-token: mXYe0t8Ye */;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}
@media (max-width: 767px) {
  .text__yemtJ {
    font-size: 22px /* plasmic-token: y8zaQOVwJ */;
    text-align: center;
    line-height: 1.1;
  }
}
.text__rMuN {
  position: relative;
  font-size: 18px /* plasmic-token: UFZg3bUaA */;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
@media (max-width: 767px) {
  .text__rMuN {
    font-size: 22px /* plasmic-token: y8zaQOVwJ */;
    text-align: center;
    line-height: 1.1;
  }
}
@media (max-width: 767px) {
  .text__onboardingSteps_step3__rMuNt81EX {
    font-size: 15px /* plasmic-token: mV0JUhpGq */;
  }
}
.buttonSetContainerStreamline {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 789px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.radioButtonGroup__t5J48:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__dKBtA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__dKBtA > picture > img {
  object-fit: cover;
}
.img__dKBtA > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 1201px) {
  .img__dKBtA {
    object-fit: contain;
  }
}
@media (min-width: 1201px) {
  .img__dKBtA > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 1201px) {
  .img__dKBtA > .__wab_img-spacer > img {
    object-fit: contain;
  }
}
.img__hwMba {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__hwMba > picture > img {
  object-fit: cover;
}
.img__hwMba > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 1201px) {
  .img__hwMba {
    object-fit: contain;
  }
}
@media (min-width: 1201px) {
  .img__hwMba > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 1201px) {
  .img__hwMba > .__wab_img-spacer > img {
    object-fit: contain;
  }
}
.text__gIeBd {
  text-align: center;
}
@media (max-width: 767px) {
  .text__gIeBd {
    text-align: left;
  }
}
.img___78JSr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___78JSr > picture > img {
  object-fit: cover;
}
.img___78JSr > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 1201px) {
  .img___78JSr {
    object-fit: contain;
  }
}
@media (min-width: 1201px) {
  .img___78JSr > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 1201px) {
  .img___78JSr > .__wab_img-spacer > img {
    object-fit: contain;
  }
}
.button__xdtss:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
}
.svg___66JM {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.svg__cpUxR {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
