.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  padding-right: 0px;
  flex-direction: column;
  padding-left: 0px;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  align-items: center;
  flex-direction: column;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.root__error_hasError {
  padding-bottom: 10px;
}
.root__text_hasText {
  padding-bottom: 0px;
}
.root__isActive_error_hasError {
  padding-bottom: 0px;
}
.box__zG8Do {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
  background-color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 26px 20px;
}
.box__zG8Do > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.box__zG8Do > :global(.__wab_flex-container) > *,
.box__zG8Do
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 0px;
}
.box__vJy6G {
  display: flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: auto;
  flex-direction: row;
  align-self: auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 20px;
  min-width: 0;
}
.box__rXa4B {
  display: flex;
  position: relative;
  background-color: rgb(2, 157, 127)
    /* plasmic-token: Jfzps88GdGw80SE */;
  width: 40px;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: auto;
  top: auto;
  flex-shrink: 0;
  border-radius: 100%;
}
.box__wnwam {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
  font-size: 20px;
  display: inline-block;
}
.editorContainer {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: auto;
  flex-direction: row;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  margin: 10px;
  border-style: solid;
  border-color: rgb(224, 224, 224)
    /* plasmic-token: 9--4ZPcisViPq8V */;
}
.editorContainer__isActive {
  width: 100%;
  min-width: 0;
}
.textContainer {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 300;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 0px;
  border-width: 0px;
}
.box__sPwRc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(68, 192, 255, 0.2);
}
.box__mQqJf {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: row;
  padding-top: 15px;
  align-self: flex-start;
  min-height: 50px;
  flex-shrink: 0;
  min-width: 0;
  border-top: 1px solid rgb(224, 224, 224)
    /* plasmic-token: 9--4ZPcisViPq8V */;
}
.box__mQqJf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.box__mQqJf > :global(.__wab_flex-container) > *,
.box__mQqJf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 5px;
}
.box__timelineSelected__mQqJf75BwG {
  height: auto;
  align-self: flex-start;
  min-height: 50px;
}
.box__timelineSelected__mQqJf75BwG > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: flex-start;
}
.timelineSelect:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: auto;
  margin-right: 15px;
  flex-shrink: 0;
}
.timelineSelect__isActive:global(.__wab_instance) {
  flex-shrink: 0;
}
.timelineSelect__timelineSelected:global(.__wab_instance) {
  align-self: auto;
  flex-shrink: 0;
}
.timelineSelect__timelineSelected_isActive:global(.__wab_instance) {
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.selectedItemsContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: row;
  min-width: 0;
}
.selectedItemsContainer__timelineSelected
  > :global(.__wab_flex-container) {
  flex-wrap: wrap;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.selectedItemsContainer__timelineSelected
  > :global(.__wab_flex-container)
  > *,
.selectedItemsContainer__timelineSelected
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 10px;
  margin-top: 10px;
}
.selectItem:global(.__wab_instance) {
  position: relative;
}
.box__lmDWp {
  display: flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 0;
}
.box__isActive__lmDWpvjQpn {
  display: flex;
  flex-direction: row;
}
.box__isActive__lmDWpvjQpn > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.box__isActive__lmDWpvjQpn > :global(.__wab_flex-container) > *,
.box__isActive__lmDWpvjQpn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 0px;
}
.errorContainer {
  display: inline-flex;
  width: auto;
  height: auto;
}
.errorContainer__error_hasError {
  width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.slotErrorMessage {
  font-size: 16px;
  font-weight: 500;
  color: rgb(234, 54, 102) /* plasmic-token: NYSf9tLZvxevghS */;
}
.sendUpdate:global(.__wab_instance) {
  position: relative;
}
