.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: row;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
}
@media (max-width: 767px) {
  .root {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (max-width: 767px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__u3Fzv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: auto;
  top: auto;
  width: 60%;
  flex-grow: 3;
}
@media (max-width: 767px) {
  .freeBox__u3Fzv {
    left: auto;
    top: auto;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    height: auto;
    min-width: 0;
  }
}
.svg__b6TAn {
  position: absolute;
  object-fit: cover;
  width: 152px;
  height: 23px;
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
  flex-grow: 0;
  left: 29px;
  top: 27px;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .svg__b6TAn {
    left: auto;
    position: relative;
    top: auto;
    margin-bottom: 29px;
    height: 63px;
    flex-shrink: 0;
  }
}
.freeBox__dwUyl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__vpH1M {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 116px;
}
@media (max-width: 767px) {
  .freeBox__vpH1M {
    margin-top: -4px;
  }
}
.freeBox__dpbjE {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__zq8W {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}
.freeBox__lIg4F {
  display: flex;
  flex-direction: column;
  z-index: 9;
  background: #ffffff;
  padding: 10px;
}
.freeBox__lIg4F > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__lIg4F > :global(.__wab_flex-container) > *,
.freeBox__lIg4F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lIg4F > :global(.__wab_flex-container) > picture > img,
.freeBox__lIg4F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.freeBox__qnxd {
  font-size: 42px /* plasmic-token: Qk0u9kQTC */;
  font-weight: 600;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
  line-height: 1.07;
}
@media (max-width: 767px) {
  .freeBox__qnxd {
    font-size: 30px /* plasmic-token: mXYe0t8Ye */;
    text-align: center;
  }
}
.freeBox__siRaS {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 402px;
}
@media (max-width: 767px) {
  .freeBox__siRaS {
    align-items: center;
    justify-content: center;
    width: auto;
    display: inline-flex;
  }
}
.freeBox__x0Qaf {
  font-size: 22px /* plasmic-token: y8zaQOVwJ */;
  font-weight: 500;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
  line-height: 1.34;
}
@media (max-width: 767px) {
  .freeBox__x0Qaf {
    font-size: 18px /* plasmic-token: UFZg3bUaA */;
  }
}
.freeBox__yondJ {
  font-size: 22px /* plasmic-token: y8zaQOVwJ */;
  font-weight: 500;
  color: rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
  line-height: 1.34;
}
@media (max-width: 767px) {
  .freeBox__yondJ {
    font-size: 18px /* plasmic-token: UFZg3bUaA */;
  }
}
.freeBox__i8IZq {
  font-size: 22px /* plasmic-token: y8zaQOVwJ */;
  font-weight: 500;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
  line-height: 1.34;
}
@media (max-width: 767px) {
  .freeBox__i8IZq {
    font-size: 18px /* plasmic-token: UFZg3bUaA */;
  }
}
.freeBox__n6NL9 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: 0px;
  bottom: 0px;
  width: 100%;
  min-width: 0;
}
@media (max-width: 767px) {
  .freeBox__n6NL9 {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    height: auto;
    width: auto;
    display: inline-flex;
  }
}
.img___2L10H {
  object-fit: cover;
}
.img___2L10H > picture > img {
  object-fit: cover;
}
.img___2L10H > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (max-width: 767px) {
  .img___2L10H {
    width: 100%;
    min-width: 0;
  }
}
.freeBox___9M06 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  align-self: auto;
  min-width: 350px;
  width: 40%;
}
@media (max-width: 767px) {
  .freeBox___9M06 {
    left: auto;
    top: auto;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox___5GI8X {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background: rgb(249, 249, 250);
  min-width: 0;
}
@media (max-width: 767px) {
  .freeBox___5GI8X {
    flex-grow: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    flex-column-gap: 0px;
    min-height: 0;
    padding: 30px;
  }
}
.freeBox__trjAa {
  display: inline-flex;
  flex-direction: column;
  width: auto;
}
.freeBox__trjAa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__trjAa > :global(.__wab_flex-container) > *,
.freeBox__trjAa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__trjAa > :global(.__wab_flex-container) > picture > img,
.freeBox__trjAa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.freeBox__wAaqV {
  font-weight: 500;
  font-size: 30px /* plasmic-token: mXYe0t8Ye */;
  text-align: center;
}
@media (max-width: 767px) {
  .freeBox__wAaqV {
    width: 100%;
    font-size: 30px /* plasmic-token: mXYe0t8Ye */;
    color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
    text-align: center;
    min-width: 0;
  }
}
.googleButton:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oGHqX {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.img__a7LHy {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  left: auto;
  top: auto;
}
.img__a7LHy > picture > img {
  object-fit: cover;
}
.img__a7LHy > .__wab_img-spacer > img {
  object-fit: cover;
}
.text2 {
  width: 199px;
  padding: 0px 20px;
}
.svg__j4Mei {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.linkedinButton:global(.__wab_instance) {
  position: relative;
}
.svg__ilBOe {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.img__yPy9C {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  left: auto;
  top: auto;
}
.img__yPy9C > picture > img {
  object-fit: cover;
}
.img__yPy9C > .__wab_img-spacer > img {
  object-fit: cover;
}
.text22 {
  width: 199px;
  padding: 0px 20px;
}
.svg__yi90R {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
