.updateActionContainer {
  height: 100%;
  width: 74px;
  display: flex;
  flex-direction: column;
  background-color: rgba(68, 192, 255, 0);
  position: relative;
  min-height: 0;
  padding: 20px;
}
.updateActionContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.updateActionContainer > :global(.__wab_flex-container) > *,
.updateActionContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 20px;
}
.updateActionContainer__content_hasContent {
  padding-top: 5px;
}
.updateActionContainer__content_hasContent_number_hasNumber {
  padding-top: 5px;
}
.sendButton:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.startIcon {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.box {
  display: flex;
  background-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
  position: relative;
  border-radius: 100%;
  padding: 3px 7px 1px;
}
.box__number_hasNumber_content_hasContent {
  width: 59px;
  height: auto;
  align-self: auto;
  justify-content: center;
  align-items: center;
  padding: 30%;
}
.slotNumberValue {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}
.slotNumberValue__content_hasContent_number_hasNumber {
  font-size: 14px;
  white-space: nowrap;
}
.slotNumberValue__content_hasContent_number_hasNumber > * {
  text-overflow: clip;
  overflow: hidden;
}
