.root {
  box-shadow: none;
  display: flex;
  height: 100%;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  overflow: visible;
  align-items: center;
  width: 250px;
  min-width: 250px;
  min-height: 0;
}
@media (max-width: 767px) {
  .root {
    background: #ffffff;
  }
}
.root__hasInput {
  border-width: 1px;
}
.topSidebar {
  display: flex;
  position: relative;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  border-right: 1px solid rgb(224, 224, 224)
    /* plasmic-token: 9--4ZPcisViPq8V */;
}
.accountSettings {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 55px;
  cursor: pointer;
  min-width: 0;
  flex-shrink: 0;
  padding: 10px 10px 10px 27px;
  border-bottom: 1px solid rgb(224, 224, 224)
    /* plasmic-token: 9--4ZPcisViPq8V */;
}
.accountSettings > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.accountSettings > :global(.__wab_flex-container) > *,
.accountSettings > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.root .accountSettings:hover {
  background: rgb(249, 249, 250);
}
.photoAvatar:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.dropdown:global(.__wab_instance) {
  position: absolute;
  left: 4px;
  top: 70px;
  z-index: 55;
}
.dropdown__isDropdown:global(.__wab_instance) {
  top: 62px;
  left: -2px;
}
.freeBox__jYiYa {
  height: auto;
}
.scrollContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  overflow: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 36px 0px 40px;
}
.scrollContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.scrollContainer > :global(.__wab_flex-container) > *,
.scrollContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 5px;
}
@media (max-width: 767px) {
  .scrollContainer {
    padding-top: 96px;
  }
}
.scrollContainer__hasInput {
  padding: 30px 20px 40px;
}
.itemGroupContainer {
  display: flex;
  position: relative;
  flex-direction: column;
}
.itemGroupContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.itemGroupContainer > :global(.__wab_flex-container) > *,
.itemGroupContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 5px;
}
.freeBox__vgJde {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  bottom: auto;
  width: 100%;
  min-width: 0;
  padding: 10px 30px;
}
.freeBox__vgJde > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__isPublic__vgJdexw1PM {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}
.freeBox__isPublic__vgJdexw1PM > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.freeBox__isPublic__vgJdexw1PM > :global(.__wab_flex-container) > *,
.freeBox__isPublic__vgJdexw1PM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 0px;
  margin-top: 7px;
}
.viewCreateVenture {
  color: rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
  cursor: pointer;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__isPublic {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
.freeBox__mR9P {
  position: relative;
}
.freeBox__isPublic__mR9Pxw1PM {
  font-size: 14px /* plasmic-token: nh1PV_1Nt */;
}
