.root {
  display: inline-flex;
  position: relative;
}
.textInput {
  display: flex;
  position: relative;
  width: 270px;
  flex-direction: column;
  flex-shrink: 0;
}
.textInput > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.textInput > :global(.__wab_flex-container) > *,
.textInput > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 10px;
}
.label {
  opacity: 1;
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "SF Pro Display";
  font-weight: 700;
  letter-spacing: 0.491px;
  line-height: 18px;
  color: rgba(36, 25, 62, 1);
  width: 212px;
  transform: scale(1, 1) rotate(0deg);
  position: relative;
}
.input {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 12px;
  padding: 10px;
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
