.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  padding-right: 0px;
  background: rgba(68, 192, 255, 0);
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 38px);
  height: calc(100% + 38px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 38px;
}
.actionBar:global(.__wab_instance) {
  position: relative;
}
.svg__s9Ejf {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.svg___1751V {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 10px;
}
.feedContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  align-self: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.feedContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 20px /* plasmic-token: dS7QCqXxp */);
  height: calc(100% + 20px /* plasmic-token: dS7QCqXxp */);
}
.feedContainer > :global(.__wab_flex-container) > *,
.feedContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.feedContainer > :global(.__wab_flex-container) > picture > img,
.feedContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px /* plasmic-token: dS7QCqXxp */;
}
.span__suEcB {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 14px /* plasmic-token: nh1PV_1Nt */;
  font-weight: 600;
}
.date {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 14px /* plasmic-token: nh1PV_1Nt */;
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
.span___4LMmu {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 14px /* plasmic-token: nh1PV_1Nt */;
  font-weight: 600;
}
.date2 {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 14px /* plasmic-token: nh1PV_1Nt */;
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
