.root {
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
  align-items: center;
}
.editorContainer {
  display: inline-flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: auto;
  height: auto;
  flex-direction: row;
  padding-right: 74px;
}
.editorContainer__content_hasContent {
  padding-right: 0px;
}
.textbox {
  position: relative;
  width: 602px;
  left: auto;
  top: auto;
  height: 100%;
  font-size: 24px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-shrink: 0;
  border-radius: 8px;
}
.actionContainer {
  display: inline-flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: auto;
  height: auto;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
}
.iconButton:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  width: 34px;
  flex-shrink: 0;
}
.startIcon {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
