.root {
  display: inline-flex;
  width: auto;
  height: 30px;
  position: relative;
}
.button {
  opacity: 1;
  transform: scale(1, 1) rotate(0deg);
  width: auto;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-height: 0;
  border-radius: 15px;
  padding: 4px 10px;
  background: rgb(2, 157, 127);
  border-style: solid;
  border-color: rgba(255, 255, 255, 0) /* plasmic-token: W4gFmUIar */;
}
.button__buttonStyle_primaryPurple {
  background: rgb(38, 26, 63);
}
.button__buttonStyle_secondaryPurple {
  background: none;
  border: 1px solid rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.button__buttonStyle_secondaryGreen {
  background: #ffffff;
  border: 1px solid rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
}
.button__buttonStyle_red {
  background: #ffffff;
  border: 1px solid rgb(218, 36, 82) /* plasmic-token: NYSf9tLZvxevghS */;
}
.button__buttonStyle_blue {
  background: rgb(46, 129, 184);
}
.button__disabled {
  opacity: 0.5;
}
.root:hover .button {
  background: rgb(0, 142, 113);
}
.root__buttonStyle_primaryPurple:hover .button__buttonStyle_primaryPurple {
  background: rgb(56, 31, 86);
}
.root__buttonStyle_secondaryPurple:hover .button__buttonStyle_secondaryPurple {
  background: rgba(74, 40, 112, 0.05);
}
.root__buttonStyle_secondaryGreen:hover .button__buttonStyle_secondaryGreen {
  background: rgba(20, 220, 152, 0.06);
}
.root__buttonStyle_red:hover .button__buttonStyle_red {
  background: rgb(218, 36, 82);
}
.box {
  display: inline-flex;
  position: relative;
  opacity: 1;
  top: auto;
  left: auto;
  width: auto;
  transform: scale(1, 1) rotate(0deg) translate(0px, 0px);
  transform-origin: top left;
  height: 100%;
  min-height: 0;
}
.box > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.box > :global(.__wab_flex-container) > *,
.box > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.slotText2 {
  font-size: 14px /* plasmic-token: nh1PV_1Nt */;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: none;
  letter-spacing: 0px;
}
.slotText2 > * {
  text-decoration-line: none;
}
.slotText2__buttonStyle_secondaryPurple {
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.slotText2__buttonStyle_secondaryGreen {
  color: rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
}
.slotText2__buttonStyle_red {
  color: rgb(218, 36, 82) /* plasmic-token: NYSf9tLZvxevghS */;
}
.root__buttonStyle_red:hover .slotText2__buttonStyle_red {
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.slotChildren__buttonFeatures_icon {
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.slotChildren__buttonFeatures_icon_buttonStyle_red {
  color: rgb(218, 36, 82) /* plasmic-token: NYSf9tLZvxevghS */;
}
.slotChildren__buttonFeatures_icon_buttonStyle_secondaryPurple {
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.slotChildren__buttonFeatures_icon_buttonStyle_secondaryGreen {
  color: rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 10px;
  flex-shrink: 0;
}
