.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.iconButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: default;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  filter: none;
  backdrop-filter: none;
  min-width: 0;
  min-height: 0;
}
.settings {
  box-shadow: 2px 2px 5px 2px rgba(212, 212, 212, 0.2);
  background: #ffffff;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
  border-radius: 10px;
  padding: 40px /* plasmic-token: XraHK0yKz */;
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.settings > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 18px);
  height: calc(100% + 18px);
}
.settings > :global(.__wab_flex-container) > *,
.settings > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.settings > :global(.__wab_flex-container) > picture > img,
.settings
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 18px;
}
@media (max-width: 767px) {
  .settings {
    padding: 20px /* plasmic-token: dS7QCqXxp */;
  }
}
.freeBox__nqvhu {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: column;
  margin-bottom: 10px;
}
.slotTargetChildren {
  font-size: 26px /* plasmic-token: TujpjiAsC */;
  font-weight: 600;
}
.slotTargetChildren2 {
  font-size: 26px /* plasmic-token: TujpjiAsC */;
  font-weight: 600;
}
.name:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.svg__kkb8D {
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.description:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__uCWf {
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  display: none;
}
.freeBox__uCWf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.freeBox__uCWf > :global(.__wab_flex-container) > *,
.freeBox__uCWf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uCWf > :global(.__wab_flex-container) > picture > img,
.freeBox__uCWf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.freeBox__variantState_isEdit__uCWf2IFcI {
  display: none;
}
.freeBox__variantState_isEdit__uCWf2IFcI > :global(.__wab_flex-container) {
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__variantState_isEdit__uCWf2IFcI > :global(.__wab_flex-container) > *,
.freeBox__variantState_isEdit__uCWf2IFcI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBox__variantState_isEdit__uCWf2IFcI
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBox__variantState_isEdit__uCWf2IFcI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 0px;
}
.freeBox__variantState_isEdit_isOwner__uCWf2IFcIMdraL {
  display: none;
}
.svg__lXhqJ {
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.freeBox__katKc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  padding: 0px 0px 10px;
  border-bottom: 1px solid rgb(224, 224, 224)
    /* plasmic-token: 9--4ZPcisViPq8V */;
}
.freeBox__isOwner__katKcmdraL {
  display: flex;
}
.freeBox__variantState_isEdit_isOwner__katKc2IFcIMdraL {
  display: flex;
}
.slotTargetSlot2 {
  font-weight: 600;
}
.membersWrite:global(.__wab_instance) {
  position: relative;
}
.membersWrite__isOwner:global(.__wab_instance) {
  display: flex;
}
.membersWrite__variantState_isEdit_isOwner:global(.__wab_instance) {
  display: flex;
}
.buttons:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (max-width: 767px) {
  .buttons:global(.__wab_instance) {
    position: relative;
    top: auto;
    left: auto;
    align-self: auto;
  }
}
