.root {
  display: flex;
  position: relative;
}
.box {
  position: relative;
  color: rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
}
.slotName {
  color: rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
  font-weight: 400;
}
.root:hover .slotName {
  color: rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
}
.name {
  width: auto;
  height: auto;
  cursor: pointer;
  position: relative;
  font-weight: 400;
}
