.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 5px;
}
.labelContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 4px;
  min-width: 0;
}
.slotLabel3 {
  text-align: center;
  font-size: 15px /* plasmic-token: mV0JUhpGq */;
  font-weight: 600;
}
.box__zgeS0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.members:global(.__wab_instance) {
  position: relative;
}
.box___2IwyL {
  height: auto;
}
._public:global(.__wab_instance) {
  position: relative;
}
