.root {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  border-style: solid;
  border-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.root__state_text {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-width: 0;
}
.root__state_graph {
  width: auto;
  height: 100%;
  justify-content: center;
  display: inline-flex;
  min-height: 0;
}
.editorContainer {
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
  background-color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  border-radius: 8px;
  padding: 15px 20px;
  border-style: solid;
  border-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.editorContainer__state_text {
  top: auto;
  left: auto;
  align-self: center;
}
.editorContainer__state_graph {
  top: auto;
  left: auto;
  padding-right: 20px;
}
.metric:global(.__wab_instance) {
  position: relative;
}
.metric__state_graph:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__ehjLr {
  display: inline-flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
}
.box__ehjLr > :global(.__wab_flex-container) {
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.box__ehjLr > :global(.__wab_flex-container) > *,
.box__ehjLr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.box__wAdRc {
  display: block;
  position: relative;
  background-color: rgb(216, 216, 216);
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 100%;
}
.box__mkSty {
  display: inline-flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  flex-direction: column;
  flex-grow: 3;
}
.box__mkSty > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__mkSty > :global(.__wab_flex-container) > *,
.box__mkSty > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__fjL5B {
  display: flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
}
.box__fjL5B > :global(.__wab_flex-container) {
  flex-wrap: wrap;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.box__fjL5B > :global(.__wab_flex-container) > *,
.box__fjL5B > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
.box__nwWG {
  display: inline-flex;
  position: relative;
}
.userName {
  position: relative;
  font-size: 16px;
}
.span__tizM {
  position: relative;
  font-weight: 300;
  font-size: 16px;
  display: inline-block;
}
.box___8Q6Vp {
  display: inline-flex;
  position: relative;
}
.organizationName {
  position: relative;
  font-size: 16px;
}
.box__vvzri {
  display: inline-flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
}
.box__vvzri > :global(.__wab_flex-container) {
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.box__vvzri > :global(.__wab_flex-container) > *,
.box__vvzri > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
.box__wDBh5 {
  display: inline-flex;
  position: relative;
}
.date {
  position: relative;
  font-weight: 300;
}
.span__rwEsf {
  position: relative;
}
.box__lqdFr {
  display: inline-flex;
  position: relative;
}
.timelineName {
  position: relative;
  font-weight: 300;
}
.box__vXGzN {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  margin-top: 3px;
}
.button__yd1L1 {
  display: flex;
  position: relative;
  padding: 0px;
  border-width: 0px;
}
.svg {
  object-fit: cover;
  width: 23px;
  height: 26px;
  color: #4d4d4d;
  flex-shrink: 0;
}
.dropdown:global(.__wab_instance) {
  position: relative;
  z-index: 2;
}
.root:active .dropdown:global(.__wab_instance) {
  position: absolute;
  left: -77px;
  top: 30px;
}
.textContainer {
  font-weight: 300;
  white-space: pre-wrap;
  font-size: 16px;
  padding-top: 15px;
  display: inline-block;
}
.textContainer__state_text {
  width: 100%;
  height: 100%;
  font-size: 24px;
  min-width: 0;
  min-height: 0;
}
.box__khPiB {
  display: flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  align-items: center;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  padding: 5px 0px 0px;
  margin: 15px 0px 0px;
  border-style: solid;
  border-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.button__sEjq7 {
  position: relative;
  width: 61px;
  height: 39px;
  color: rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
  background-color: rgba(2, 157, 127, 0);
  font-weight: 500;
  padding-left: 0px;
  text-align: left;
  flex-shrink: 0;
  border-radius: 4px;
  border-width: 0px;
}
.box__uciye {
  display: block;
  position: relative;
  background-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
  width: 1px;
  height: 22px;
  align-self: center;
  flex-shrink: 0;
}
