.root {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  background: linear-gradient(#ffffff, #ffffff)
    /* plasmic-token: sm1UmsjMUgvPdL9, sm1UmsjMUgvPdL9 */;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 21px);
  height: calc(100% + 21px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 21px;
}
.contentPost:global(.__wab_instance) {
  position: relative;
}
.replyContent:global(.__wab_instance) {
  position: relative;
}
.replyInput:global(.__wab_instance) {
  position: relative;
}
