.root {
  display: inline-flex;
  width: auto;
  height: 30px;
  position: relative;
}
.button {
  opacity: 1;
  transform: scale(1, 1) rotate(0deg);
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #2e8c8d;
  min-height: 0;
  border-radius: 15px;
  padding: 4px 10px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0) /* plasmic-token: W4gFmUIar */;
}
.buttonbuttonStyle_primaryPurple {
  background: rgb(38, 26, 63);
}
.buttonbuttonStyle_secondaryPurple {
  background: none;
  border: 1px solid rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.buttonbuttonStyle_secondaryGreen {
  background: #ffffff;
  border: 1px solid #2e8c8d /* plasmic-token: Jfzps88GdGw80SE */;
}
.buttonbuttonStyle_red {
  background: #ffffff;
  border: 1px solid rgb(218, 36, 82) /* plasmic-token: NYSf9tLZvxevghS */;
}
.buttonbuttonStyle_blue {
  background: rgb(46, 129, 184);
}
.buttonbuttonStyle_grey {
  background: rgb(249, 249, 250);
}
.buttondisabled {
  opacity: 0.5;
}
.root:hover .button {
  background: #137c7d;
}
.rootbuttonStyle_primaryPurple:hover .buttonbuttonStyle_primaryPurple {
  background: rgb(56, 31, 86);
}
.rootbuttonStyle_secondaryPurple:hover .buttonbuttonStyle_secondaryPurple {
  background: rgba(74, 40, 112, 0.05);
}
.rootbuttonStyle_secondaryGreen:hover .buttonbuttonStyle_secondaryGreen {
  background: rgba(20, 220, 152, 0.06);
}
.rootbuttonStyle_red:hover .buttonbuttonStyle_red {
  background: rgb(218, 36, 82);
}
.rootbuttonStyle_blue:hover .buttonbuttonStyle_blue {
  background: rgb(46, 129, 184);
}
.root:focus-within .button {
  outline: none;
}
.freeBox {
  display: flex;
  position: relative;
  opacity: 1;
  top: auto;
  left: auto;
  width: auto;
  transform: scale(1, 1) rotate(0deg) translate(0px, 0px);
  transform-origin: top left;
  height: 100%;
  min-height: 0;
}
.freeBox > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-height: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.slotTargetText2 {
  font-size: 14px /* plasmic-token: nh1PV_1Nt */;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: none;
  letter-spacing: 0px;
}
.slotTargetText2 > .__wab_text,
.slotTargetText2 > .__wab_slot-string-wrapper,
.slotTargetText2 > .__wab_slot > .__wab_text,
.slotTargetText2 > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetText2 > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetText2 > .__wab_slot > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetText2 > .__wab_slot > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetText2
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-decoration-line: none;
}
.slotTargetText2buttonStyle_secondaryPurple {
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.slotTargetText2buttonStyle_secondaryGreen {
  color: #2e8c8d /* plasmic-token: Jfzps88GdGw80SE */;
}
.slotTargetText2buttonStyle_red {
  color: rgb(218, 36, 82) /* plasmic-token: NYSf9tLZvxevghS */;
}
.rootbuttonStyle_red:hover .slotTargetText2buttonStyle_red {
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.slotTargetChildrenbuttonFeatures_icon {
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.slotTargetChildrenbuttonFeatures_icon_buttonStyle_secondaryGreen {
  color: #2e8c8d /* plasmic-token: Jfzps88GdGw80SE */;
}
.slotTargetChildrenbuttonFeatures_icon_buttonStyle_red {
  color: rgb(218, 36, 82) /* plasmic-token: NYSf9tLZvxevghS */;
}
.slotTargetChildrenbuttonStyle_grey_buttonFeatures_icon {
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
.slotTargetChildrenbuttonFeatures_icon_buttonStyle_secondaryPurple {
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.root:focus-within .slotTargetChildren > *,
.root:focus-within .slotTargetChildren > .__wab_slot > *,
.root:focus-within .slotTargetChildren > .__wab_slot > .__wab_slot > *,
.root:focus-within
  .slotTargetChildren
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.root:focus-within .slotTargetChildren > picture > img,
.root:focus-within .slotTargetChildren > .__wab_slot > picture > img,
.root:focus-within
  .slotTargetChildren
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.root:focus-within
  .slotTargetChildren
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  outline: none;
}
.svg__vEG {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 10px;
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
  flex-shrink: 0;
}
