.root {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  min-width: 0;
  border-style: solid;
  border-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.editorContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  overflow: auto;
  box-shadow: none;
  min-width: 0;
  padding: 10px 0px;
  background: none;
  border-style: solid;
  border-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.box__e6Pow {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: row;
}
.box__e6Pow > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.box__e6Pow > :global(.__wab_flex-container) > *,
.box__e6Pow > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.box__yr59G {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  left: auto;
  top: auto;
  flex-shrink: 0;
  border-radius: 100%;
  background: rgb(216, 216, 216);
}
.box__y7Gdr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.box__kPjxs {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-grow: 3;
  min-width: 0;
  background: rgba(68, 192, 255, 0);
}
.box__kPjxs > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__kPjxs > :global(.__wab_flex-container) > *,
.box__kPjxs > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box___1Bypj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: row;
  min-width: 0;
  background: rgba(68, 192, 255, 0);
}
.box___1Bypj > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.box___1Bypj > :global(.__wab_flex-container) > *,
.box___1Bypj > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
.box___5LY0W {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  flex-grow: 3;
}
.box__hb8Xt {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__hb8Xt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.box__hb8Xt > :global(.__wab_flex-container) > *,
.box__hb8Xt > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
.slotUserName {
  font-size: 16px;
  font-weight: 700;
}
.userName {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 16px;
}
.span {
  position: relative;
}
.date {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-weight: 300;
}
.box__tIZzq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  top: auto;
  left: auto;
  margin-top: 0px;
  height: auto;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 5px) !important;
}
.box__state_isUser__tIZzqbiMuc {
  left: auto;
  top: auto;
}
.root:active .box__tIZzq {
  left: auto;
  top: auto;
}
.box__uYdyB {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0px;
  border-width: 0px;
}
.svg {
  object-fit: cover;
  width: 23px;
  height: 26px;
  color: #4d4d4d;
  flex-shrink: 0;
}
.dropdown:global(.__wab_instance) {
  position: relative;
  z-index: 2;
}
.root:active .dropdown:global(.__wab_instance) {
  position: absolute;
  left: -77px;
  top: 30px;
}
.box___3DEhu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding: 15px 0px;
}
.box__qZfSk {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
}
.slotTextContainer {
  font-size: 16px;
  font-weight: 300;
  white-space: pre-wrap;
}
.replyButton {
  position: relative;
  align-self: auto;
  width: 61px;
  height: 39px;
  color: rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
  font-weight: 500;
  box-shadow: none;
  left: auto;
  top: auto;
  padding-left: 0px;
  text-align: left;
  flex-shrink: 0;
  border-radius: 4px;
  background: rgba(2, 157, 127, 0);
  border-width: 0px;
}
.replyInput:global(.__wab_instance) {
  position: relative;
}
