.root {
  display: flex;
  position: relative;
}
.root:hover {
}
.text {
  position: relative;
  color: #2e8c8d /* plasmic-token: Jfzps88GdGw80SE */;
}
.slotTargetName {
  color: #2e8c8d /* plasmic-token: Jfzps88GdGw80SE */;
  font-weight: 400;
}
.root:hover .slotTargetName {
  color: #2e8c8d /* plasmic-token: Jfzps88GdGw80SE */;
}
.span___0SrJl {
  width: auto;
  height: auto;
  cursor: pointer;
  position: relative;
  font-weight: 400;
}
