.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
}
.root__mobileMenu {
}
.root__views_publicView {
}
.freeBox__ky7Rm {
  display: flex;
  position: relative;
  width: 100%;
  height: 55px;
  flex-direction: row;
  background: #ffffff;
  min-width: 0;
  padding: 0px 20px;
  border-bottom: 1px solid rgb(224, 224, 224)
    /* plasmic-token: 9--4ZPcisViPq8V */;
}
.freeBox__ky7Rm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__ky7Rm > :global(.__wab_flex-container) > *,
.freeBox__ky7Rm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ky7Rm > :global(.__wab_flex-container) > picture > img,
.freeBox__ky7Rm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (max-width: 767px) {
  .freeBox__ky7Rm {
  }
}
@media (max-width: 767px) {
  .freeBox__ky7Rm > :global(.__wab_flex-container) {
  }
}
@media (max-width: 767px) {
  .freeBox__ky7Rm > :global(.__wab_flex-container) > *,
  .freeBox__ky7Rm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ky7Rm > :global(.__wab_flex-container) > picture > img,
  .freeBox__ky7Rm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
  }
}
.freeBox__mobileMenu__ky7RmdUXmX {
}
.freeBox__mobileMenu__ky7RmdUXmX > :global(.__wab_flex-container) {
}
.freeBox__mobileMenu__ky7RmdUXmX > :global(.__wab_flex-container) > *,
.freeBox__mobileMenu__ky7RmdUXmX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBox__mobileMenu__ky7RmdUXmX
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBox__mobileMenu__ky7RmdUXmX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
}
.freeBox__views_userAccount__ky7RmUjVqz {
}
.freeBox__views_userAccount__ky7RmUjVqz > :global(.__wab_flex-container) {
}
.freeBox__views_userAccount__ky7RmUjVqz > :global(.__wab_flex-container) > *,
.freeBox__views_userAccount__ky7RmUjVqz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBox__views_userAccount__ky7RmUjVqz
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBox__views_userAccount__ky7RmUjVqz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
}
.freeBox__views_publicView__ky7RmYpLjb {
}
.freeBox__views_publicView__ky7RmYpLjb > :global(.__wab_flex-container) {
}
.freeBox__views_publicView__ky7RmYpLjb > :global(.__wab_flex-container) > *,
.freeBox__views_publicView__ky7RmYpLjb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBox__views_publicView__ky7RmYpLjb
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBox__views_publicView__ky7RmYpLjb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
}
@media (max-width: 767px) {
  .freeBox__views_publicView__ky7RmYpLjb {
  }
}
@media (max-width: 767px) {
  .freeBox__views_publicView__ky7RmYpLjb > :global(.__wab_flex-container) {
  }
}
@media (max-width: 767px) {
  .freeBox__views_publicView__ky7RmYpLjb > :global(.__wab_flex-container) > *,
  .freeBox__views_publicView__ky7RmYpLjb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .freeBox__views_publicView__ky7RmYpLjb
    > :global(.__wab_flex-container)
    > picture
    > img,
  .freeBox__views_publicView__ky7RmYpLjb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
  }
}
.freeBox__wE8Ym {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
}
.freeBox__wE8Ym > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.freeBox__wE8Ym > :global(.__wab_flex-container) > *,
.freeBox__wE8Ym > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wE8Ym > :global(.__wab_flex-container) > picture > img,
.freeBox__wE8Ym
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (max-width: 767px) {
  .freeBox__wE8Ym {
  }
}
@media (max-width: 767px) {
  .freeBox__wE8Ym > :global(.__wab_flex-container) {
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 767px) {
  .freeBox__wE8Ym > :global(.__wab_flex-container) > *,
  .freeBox__wE8Ym > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wE8Ym > :global(.__wab_flex-container) > picture > img,
  .freeBox__wE8Ym
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 0px;
  }
}
.toggleMobileSidebar {
  object-fit: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .toggleMobileSidebar {
  }
}
.toggleMobileSidebar__mobileMenu {
}
@media (max-width: 767px) {
  .toggleMobileSidebar__mobileMenu {
  }
}
.toggleMobileSidebar__views_publicView {
}
@media (max-width: 767px) {
  .toggleMobileSidebar__views_publicView {
  }
}
.svg {
  position: relative;
  object-fit: cover;
  width: 140px;
  height: 25px;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .svg {
  }
}
.svg__mobileMenu {
}
.svg__views_publicView {
}
@media (max-width: 767px) {
  .svg__views_publicView {
  }
}
.text {
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  .text {
  }
}
.text__views_publicView {
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
@media (min-width: 768px) and (max-width: 991px) {
  .text__views_publicView {
    font-size: 12px /* plasmic-token: LxqIZc9hM */;
  }
}
@media (max-width: 767px) {
  .text__views_publicView {
    display: none;
  }
}
.link {
  position: relative;
}
.link__views_publicView {
  color: #2e8c8d /* plasmic-token: Jfzps88GdGw80SE */;
}
@media (max-width: 767px) {
  .link__views_publicView {
  }
}
.freeBox___4Ktdl {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: row;
  cursor: pointer;
  background: rgba(68, 192, 255, 0);
}
.freeBox___4Ktdl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___4Ktdl > :global(.__wab_flex-container) > *,
.freeBox___4Ktdl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4Ktdl > :global(.__wab_flex-container) > picture > img,
.freeBox___4Ktdl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.freeBox__profileDropdown___4KtdlZi9Pu {
}
.freeBox__profileDropdown___4KtdlZi9Pu > :global(.__wab_flex-container) {
}
.freeBox__profileDropdown___4KtdlZi9Pu > :global(.__wab_flex-container) > *,
.freeBox__profileDropdown___4KtdlZi9Pu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBox__profileDropdown___4KtdlZi9Pu
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBox__profileDropdown___4KtdlZi9Pu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
}
.freeBox__views_userAccount___4KtdlUjVqz {
}
.freeBox__views_userAccount___4KtdlUjVqz > :global(.__wab_flex-container) {
}
.freeBox__views_userAccount___4KtdlUjVqz > :global(.__wab_flex-container) > *,
.freeBox__views_userAccount___4KtdlUjVqz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBox__views_userAccount___4KtdlUjVqz
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBox__views_userAccount___4KtdlUjVqz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
}
.avatar:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.avatar__profileDropdown:global(.__wab_instance) {
  flex-shrink: 0;
}
.text__yNtDk {
}
.dropdown:global(.__wab_instance) {
  position: relative;
  right: -23px;
  top: 79px;
}
.dropdown__profileDropdown:global(.__wab_instance) {
  position: absolute;
  left: auto;
  top: 51px;
  right: -15px;
}
.text___6B432 {
}
.text__bPh5M {
}
.text__xWIkM {
}
.text__p6Ez4 {
}
.text__k79L {
}
.text__f349 {
}
