.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 168px;
}
.box {
  font-size: 14px;
  font-weight: 700;
  padding-left: 17px;
  text-align: left;
}
.showAddTimeline {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 18px;
  cursor: pointer;
  flex-shrink: 0;
}
