.root {
  box-shadow: 2px 2px 5px 2px rgba(212, 212, 212, 0.2);
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
  border-radius: 10px;
  padding: 40px /* plasmic-token: XraHK0yKz */;
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 18px);
  height: calc(100% + 18px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 18px;
}
@media (max-width: 767px) {
  .root {
    padding: 20px /* plasmic-token: dS7QCqXxp */;
  }
}
.freeBox__sLr04 {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: column;
  margin-bottom: 10px;
}
.slotChildren {
  font-size: 26px /* plasmic-token: TujpjiAsC */;
  font-weight: 600;
}
.freeBox___8X9J3 {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: column;
  margin-bottom: 10px;
}
.freeBox__type_isTimeline___8X9J3Qs8Io {
  left: auto;
  top: auto;
}
.slotChildren2 {
  font-size: 26px /* plasmic-token: TujpjiAsC */;
  font-weight: 600;
}
.freeBox__mpPUs {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(224, 224, 224)
    /* plasmic-token: 9--4ZPcisViPq8V */;
}
.freeBox__mpPUs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 14px);
  height: calc(100% + 14px);
}
.freeBox__mpPUs > :global(.__wab_flex-container) > *,
.freeBox__mpPUs > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 14px;
}
.form {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.form > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: calc(0px - 7px);
  width: calc(100% + 7px);
}
.form > :global(.__wab_flex-container) > *,
.form > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 7px;
}
.invite:global(.__wab_instance) {
  position: relative;
  height: 40px;
  margin-bottom: 28px;
}
.svg__bXwI0 {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.svg___7Yi1O {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.link {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
}
.link > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 7px);
  width: calc(100% + 7px);
}
.link > :global(.__wab_flex-container) > *,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 7px;
}
.svg__opzJ7 {
  position: relative;
  object-fit: cover;
  color: rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.span {
  color: rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
}
.freeBox__yRlj0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.freeBox__guHgU {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  border-bottom-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
  border-bottom-style: solid;
  padding: 0px 0px 10px;
}
.slotSlot2 {
  font-weight: 600;
}
.membersContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.memberItem__ieR1F:global(.__wab_instance) {
  position: relative;
}
.memberItem__vCc52:global(.__wab_instance) {
  position: relative;
}
.memberItem__u5CiK:global(.__wab_instance) {
  position: relative;
}
.memberItem__rUmUt:global(.__wab_instance) {
  position: relative;
}
.freeBox___1CNd9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  top: auto;
  left: auto;
  padding-top: 28px;
}
.svg__qlkG3 {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.text2 {
  height: auto;
  width: auto;
  display: inline-block;
}
.svg__zn1XH {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
