.root {
  display: inline-flex;
  background-color: rgba(255, 255, 255, 0);
  width: auto;
  height: 209px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  border-style: solid;
  border-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
@media (min-width: 0px) and (max-width: 760px) {
  .root {
    width: auto;
    height: auto;
    display: inline-flex;
  }
}
.root__state_text {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-width: 0;
}
.root__state_graph {
  width: auto;
  height: 100%;
  justify-content: center;
  display: inline-flex;
  min-height: 0;
}
.editorContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  background-color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
  background-image: none;
  width: 938px;
  height: auto;
  overflow: auto;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 15px 20px;
  border-style: solid;
  border-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
@media (min-width: 0px) and (max-width: 760px) {
  .editorContainer {
    width: 220px;
    height: 192px;
    flex-shrink: 0;
  }
}
.editorContainer__state_text {
  top: auto;
  left: auto;
  align-self: center;
}
.editorContainer__state_graph {
  top: auto;
  left: auto;
  padding-right: 20px;
}
.metric:global(.__wab_instance) {
  position: relative;
}
.metric__state_graph:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__ehjLr {
  display: inline-flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: auto;
  height: auto;
  flex-direction: row;
}
.box__ehjLr > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.box__ehjLr > :global(.__wab_flex-container) > *,
.box__ehjLr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.box__wAdRc {
  display: block;
  position: relative;
  background-color: rgb(216, 216, 216);
  width: 50px;
  height: 50px;
  left: auto;
  top: auto;
  flex-shrink: 0;
  border-radius: 100%;
}
.box__mkSty {
  display: inline-flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: auto;
  height: auto;
  flex-direction: column;
}
.box__mkSty > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__mkSty > :global(.__wab_flex-container) > *,
.box__mkSty > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__fjL5B {
  display: flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: 307px;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: row;
}
.box__fjL5B > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.box__fjL5B > :global(.__wab_flex-container) > *,
.box__fjL5B > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
.userName {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 16px;
  display: inline-block;
}
.box__tizM {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-weight: 300;
  font-size: 16px;
  display: inline-block;
}
.organizationName {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 16px;
  display: inline-block;
}
.box__vvzri {
  display: inline-flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: row;
}
.box__vvzri > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.box__vvzri > :global(.__wab_flex-container) > *,
.box__vvzri > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
.date {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-weight: 300;
  display: inline-block;
}
.box__rwEsf {
  position: relative;
}
.timelineName {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-weight: 300;
  display: inline-block;
}
.textContainer {
  font-weight: 300;
  white-space: pre-wrap;
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding-top: 15px;
  min-width: 0;
  min-height: 0;
}
.textContainer__state_text {
  width: 100%;
  height: 100%;
  font-size: 24px;
  min-width: 0;
  min-height: 0;
}
.box__khPiB {
  display: flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
.button {
  position: relative;
  align-self: auto;
  width: 61px;
  height: 39px;
  color: rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
  background-color: rgba(2, 157, 127, 0);
  font-weight: 500;
  box-shadow: none;
  left: auto;
  top: auto;
  padding-left: 0px;
  text-align: left;
  flex-shrink: 0;
  border-radius: 4px;
  border-width: 0px;
}
.box__uciye {
  display: block;
  position: relative;
  background-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
  width: 1px;
  height: 22px;
  align-self: center;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
