.root {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  position: relative;
  padding-right: 0px;
  min-width: 0;
  background: rgba(68, 192, 255, 0);
}
.updateContent:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
}
