.root {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  min-width: 0;
  border-style: solid;
  border-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.editorContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  overflow: auto;
  box-shadow: none;
  min-width: 0;
  padding: 10px 20px;
  background: none;
  border-style: solid;
  border-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.box__cyQ9E {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: row;
  background: rgba(68, 192, 255, 0);
}
.box__cyQ9E > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.box__cyQ9E > :global(.__wab_flex-container) > *,
.box__cyQ9E > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.photoAvatar:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box___0YC8Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box__rqpD {
  display: inline-flex;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 3;
}
.box__rqpD > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__rqpD > :global(.__wab_flex-container) > *,
.box__rqpD > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__iU0A {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: row;
  min-width: 0;
  background: rgba(68, 192, 255, 0);
}
.box__iU0A > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.box__iU0A > :global(.__wab_flex-container) > *,
.box__iU0A > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
.box__cAoxI {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  flex-grow: 3;
}
.box__oKSfs {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__oKSfs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.box__oKSfs > :global(.__wab_flex-container) > *,
.box__oKSfs > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
.slotUserName {
  font-size: 16px;
  font-weight: 700;
}
.userName {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 16px;
}
.box__wfm2A {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__wfm2A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 7px);
  width: calc(100% + 7px);
}
.box__wfm2A > :global(.__wab_flex-container) > *,
.box__wfm2A > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 7px;
}
.date {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-weight: 300;
}
.box___2Fduc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  top: auto;
  left: auto;
  margin-top: 3px;
  height: auto;
}
.box__state_isUser___2FducFEdPi {
  left: auto;
  top: auto;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 5px) !important;
}
.root:active .box___2Fduc {
  left: auto;
  top: auto;
}
.iconMenu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0px;
  border-width: 0px;
}
.svg {
  object-fit: cover;
  width: 23px;
  height: 26px;
  color: #4d4d4d;
  flex-shrink: 0;
}
.dropdown:global(.__wab_instance) {
  position: relative;
  z-index: 2;
}
.dropdown__isUserOnClick_state_isUser:global(.__wab_instance) {
  position: absolute;
  left: auto;
  top: 33px;
  right: 0px;
}
.root:active .dropdown:global(.__wab_instance) {
  position: absolute;
  left: -77px;
  top: 30px;
}
.deleteOption__isUserOnClick_state_isUser {
  color: rgb(218, 36, 82) /* plasmic-token: NYSf9tLZvxevghS */;
}
.box__wE4D {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding: 5px 0px 15px;
}
.box__ly8Vh {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
}
.slotText {
  font-size: 16px;
  font-weight: 300;
  white-space: pre-wrap;
}
