.root {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  min-width: 0;
  border-style: solid;
  border-color: rgb(224, 224, 224)
    /* plasmic-token: 9--4ZPcisViPq8V */;
}
.editorContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  background-image: none;
  width: 100%;
  height: auto;
  overflow: auto;
  box-shadow: none;
  min-width: 0;
  padding: 10px 20px;
  border-style: solid;
  border-color: rgb(224, 224, 224)
    /* plasmic-token: 9--4ZPcisViPq8V */;
}
.box__cyQ9E {
  display: inline-flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: auto;
  height: auto;
  flex-direction: row;
}
.box__cyQ9E > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.box__cyQ9E > :global(.__wab_flex-container) > *,
.box__cyQ9E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 10px;
}
.box__dc4F {
  display: block;
  position: relative;
  background-color: rgb(216, 216, 216);
  width: 50px;
  height: 50px;
  left: auto;
  top: auto;
  flex-shrink: 0;
  border-radius: 100%;
}
.box___0YC8Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box__rqpD {
  display: inline-flex;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 3;
}
.box__rqpD > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__rqpD > :global(.__wab_flex-container) > *,
.box__rqpD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 3px;
}
.box__iU0A {
  display: flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: row;
  min-width: 0;
}
.box__iU0A > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.box__iU0A > :global(.__wab_flex-container) > *,
.box__iU0A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 5px;
}
.box__cAoxI {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  flex-grow: 3;
}
.box__oKSfs {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__oKSfs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.box__oKSfs > :global(.__wab_flex-container) > *,
.box__oKSfs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 5px;
}
.slotUserName {
  font-size: 16px;
  font-weight: 700;
}
.userName {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 16px;
}
.span {
  position: relative;
}
.span___4NLge {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-weight: 300;
}
.box___2Fduc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  top: auto;
  left: auto;
  margin-top: 3px;
  height: auto;
}
.box__state_isUser___2FducFEdPi {
  left: auto;
  top: auto;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 5px) !important;
}
.root:active .box___2Fduc {
  left: auto;
  top: auto;
}
.button {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0px;
  border-width: 0px;
}
.svg {
  object-fit: cover;
  width: 23px;
  height: 26px;
  color: #4d4d4d;
  flex-shrink: 0;
}
.dropdown:global(.__wab_instance) {
  position: relative;
  z-index: 2;
}
.root:active .dropdown:global(.__wab_instance) {
  position: absolute;
  left: -77px;
  top: 30px;
}
.box__wE4D {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding: 15px 0px;
}
.box__ly8Vh {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
}
.slotText {
  font-size: 16px;
  font-weight: 300;
  white-space: pre-wrap;
}
.replyButton {
  position: relative;
  align-self: auto;
  width: 61px;
  height: 39px;
  color: rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
  background-color: rgba(2, 157, 127, 0);
  font-weight: 500;
  box-shadow: none;
  left: auto;
  top: auto;
  padding-left: 0px;
  text-align: left;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 4px;
  border-width: 0px;
}
.box__w4TSo {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 10px 0px;
}
.box__w4TSo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.box__w4TSo > :global(.__wab_flex-container) > *,
.box__w4TSo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 20px;
}
.replyInput:global(.__wab_instance) {
  position: relative;
}
.repliesContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.userName2 {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 16px;
}
.span__ik8Gc {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-weight: 300;
}
