.root {
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
  background: rgba(255, 255, 255, 0);
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 767px) {
  .root {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 767px) {
  .root__buttonFeatures_nonFullWidth {
    width: auto;
    display: inline-flex;
  }
}
.root:focus-within {
  box-shadow: none;
  outline: none;
  border: 0px solid rgba(255, 255, 255, 0) /* plasmic-token: W4gFmUIar */;
}
.button {
  opacity: 1;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  cursor: pointer;
  background: #2e8c8d;
  max-width: 460px;
  border-radius: 5px;
  padding: 10px 15px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0) /* plasmic-token: W4gFmUIar */;
}
@media (max-width: 767px) {
  .button {
    width: 100%;
    min-width: 0;
  }
}
.button__buttonStyle_primaryPurple {
  background: rgb(38, 26, 63);
}
.button__buttonFeatures_removeText {
  min-width: 0px;
  padding: 10px 15px;
}
@media (max-width: 767px) {
  .button__buttonFeatures_nonFullWidth {
    width: auto;
  }
}
.button__isDisabled {
  opacity: 0.5;
}
.button__buttonStyle_secondaryPurple {
  background: none;
  border: 1px solid rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.button__buttonStyle_secondaryGreen {
  background: #ffffff;
  border: 1px solid #2e8c8d /* plasmic-token: Jfzps88GdGw80SE */;
}
.button__buttonStyle_danger {
  background: #ffffff;
  border: 1px solid rgb(218, 36, 82) /* plasmic-token: NYSf9tLZvxevghS */;
}
.button__buttonStyle_whiteBlue {
  box-shadow: 2px 2px 4px 1px rgba(221, 220, 220, 0.5);
  background: #ffffff;
  border-width: 1px;
  border-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.button__buttonStyle_white {
  box-shadow: none;
  background: #ffffff;
  border-width: 1px;
  border-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.button__buttonFeatures_isRounded {
  border-radius: 30px;
}
.root:hover .button {
  background: #137c7d;
}
.root__buttonStyle_primaryPurple:hover .button__buttonStyle_primaryPurple {
  background: rgb(56, 31, 86);
}
.root__buttonStyle_secondaryPurple:hover .button__buttonStyle_secondaryPurple {
  background: rgba(74, 40, 112, 0.05);
}
.root__buttonStyle_secondaryGreen:hover .button__buttonStyle_secondaryGreen {
  background: rgba(20, 220, 152, 0.06);
}
.root__buttonStyle_danger:hover .button__buttonStyle_danger {
  background: rgb(218, 36, 82);
}
.root__buttonStyle_whiteBlue:hover .button__buttonStyle_whiteBlue {
  background: #ffffff;
}
.root__buttonStyle_white:hover .button__buttonStyle_white {
  background: #ffffff;
}
.root__isDisabled_buttonStyle_primaryPurple:hover
  .button__isDisabled_buttonStyle_primaryPurple {
  background: rgb(38, 26, 63);
}
.root:focus-within .button {
  outline: none;
}
.root__isDisabled:focus-within .button__isDisabled {
  background: #2e8c8d;
  outline: none;
}
.root__isDisabled_buttonStyle_primaryPurple:focus-within
  .button__isDisabled_buttonStyle_primaryPurple {
  outline: none;
}
.root .button:focus-within {
  outline: none;
  border-width: 1px;
  border-color: #34caad;
}
.freeBox {
  display: flex;
  position: relative;
  opacity: 1;
  top: auto;
  left: auto;
  width: auto;
  transform: scale(1, 1) rotate(0deg) translate(0px, 0px);
  transform-origin: top left;
}
.freeBox > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.root:focus-within .freeBox {
  outline: none;
}
.slotTargetSlot__buttonFeatures_showStartIcon {
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.slotTargetSlot__buttonFeatures_showStartIcon_buttonStyle_secondaryGreen {
  color: #2e8c8d /* plasmic-token: Jfzps88GdGw80SE */;
}
.slotTargetSlot__buttonFeatures_showStartIcon_buttonStyle_danger {
  color: rgb(218, 36, 82) /* plasmic-token: NYSf9tLZvxevghS */;
}
.slotTargetSlot__buttonStyle_whiteBlue_buttonFeatures_showStartIcon {
  color: rgb(46, 129, 184) /* plasmic-token: IfaVHQ1Yp */;
}
.slotTargetSlot__buttonStyle_white_buttonFeatures_showStartIcon {
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.slotTargetSlot__buttonFeatures_showStartIcon_buttonStyle_secondaryPurple {
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.svg__vdEop {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
  flex-shrink: 0;
}
.slotTargetCount {
  font-size: 15px /* plasmic-token: mV0JUhpGq */;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: none;
  letter-spacing: 0px;
}
.slotTargetCount > .__wab_text,
.slotTargetCount > .__wab_slot-string-wrapper,
.slotTargetCount > .__wab_slot > .__wab_text,
.slotTargetCount > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetCount > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetCount > .__wab_slot > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetCount > .__wab_slot > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetCount
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-decoration-line: none;
}
.slotTargetCount__buttonStyle_secondaryPurple {
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.slotTargetCount__buttonStyle_secondaryGreen {
  color: #2e8c8d /* plasmic-token: Jfzps88GdGw80SE */;
}
.slotTargetCount__buttonStyle_danger {
  color: rgb(218, 36, 82) /* plasmic-token: NYSf9tLZvxevghS */;
}
.slotTargetCount__buttonFeatures_isRounded {
  font-size: 14px /* plasmic-token: nh1PV_1Nt */;
}
.root__buttonStyle_danger:hover .slotTargetCount__buttonStyle_danger {
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.slotTargetText2 {
  font-size: 15px /* plasmic-token: mV0JUhpGq */;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: none;
  letter-spacing: 0px;
}
.slotTargetText2 > .__wab_text,
.slotTargetText2 > .__wab_slot-string-wrapper,
.slotTargetText2 > .__wab_slot > .__wab_text,
.slotTargetText2 > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetText2 > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetText2 > .__wab_slot > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetText2 > .__wab_slot > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetText2
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-decoration-line: none;
}
@media (max-width: 767px) {
  .slotTargetText2 {
    font-size: 15px /* plasmic-token: mV0JUhpGq */;
  }
}
.slotTargetText2__buttonStyle_secondaryPurple {
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.slotTargetText2__buttonStyle_secondaryGreen {
  color: #2e8c8d /* plasmic-token: Jfzps88GdGw80SE */;
}
.slotTargetText2__buttonStyle_danger {
  color: rgb(218, 36, 82) /* plasmic-token: NYSf9tLZvxevghS */;
}
.slotTargetText2__buttonStyle_whiteBlue {
  color: rgb(46, 129, 184) /* plasmic-token: IfaVHQ1Yp */;
}
.slotTargetText2__buttonStyle_white {
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.slotTargetText2__buttonFeatures_isRounded {
  font-size: 14px /* plasmic-token: nh1PV_1Nt */;
}
.root__buttonStyle_danger:hover .slotTargetText2__buttonStyle_danger {
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.slotTargetChildren__buttonFeatures_showEndIcon {
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.slotTargetChildren__buttonFeatures_showEndIcon_buttonStyle_secondaryPurple {
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.slotTargetChildren__buttonFeatures_showEndIcon_buttonStyle_secondaryGreen {
  color: #2e8c8d /* plasmic-token: Jfzps88GdGw80SE */;
}
.slotTargetChildren__buttonFeatures_showEndIcon_buttonStyle_danger {
  color: rgb(218, 36, 82) /* plasmic-token: NYSf9tLZvxevghS */;
}
.slotTargetChildren__buttonStyle_whiteBlue_buttonFeatures_showEndIcon {
  color: rgb(46, 129, 184) /* plasmic-token: IfaVHQ1Yp */;
}
.slotTargetChildren__buttonStyle_white_buttonFeatures_showEndIcon {
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.svg___85Aov {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
  flex-shrink: 0;
}
