.root {
  display: flex;
  flex-direction: column;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.rootvariantType_isEmpty {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
.rootvariantType_isEmpty > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 23px);
  height: calc(100% + 23px);
}
.rootvariantType_isEmpty > :global(.__wab_flex-container) > *,
.rootvariantType_isEmpty
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.rootvariantType_isEmpty > :global(.__wab_flex-container) > picture > img,
.rootvariantType_isEmpty
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 23px;
}
.freeBox___2ILiu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBoxvariantType_isEmpty___2ILiuHwthy {
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
}
.text__cvbvU {
  margin-top: 56px;
}
.textvariantType_isEmpty__cvbvUhwthy {
  font-size: 30px /* plasmic-token: mXYe0t8Ye */;
  font-weight: 300;
  line-height: 1.2;
  height: auto;
}
.text__qxWsf {
  position: relative;
}
.textvariantType_isEmpty__qxWsfHwthy {
  font-size: 30px /* plasmic-token: mXYe0t8Ye */;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 9px;
}
.text__eBmr {
  position: relative;
}
.textvariantType_isEmpty__eBmrHwthy {
  font-size: 15px /* plasmic-token: mV0JUhpGq */;
  font-weight: 400;
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
.freeBox__xLwhc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBoxvariantType_isEmpty__xLwhcHwthy {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-column-gap: 0px;
  border-radius: 10px;
  padding: 15px 20px;
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.freeBox__rHe6S {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__rHe6S > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBoxvariantType_isEmpty__rHe6SHwthy {
  width: 100%;
  border-bottom-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
  border-bottom-style: solid;
  min-width: 0;
  padding: 30px;
  border-width: 0px;
}
.freeBoxvariantType_isEmpty__rHe6SHwthy > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (max-width: 767px) {
  .freeBoxvariantType_isEmpty__rHe6SHwthy {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .freeBoxvariantType_isEmpty__rHe6SHwthy > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (max-width: 767px) {
  .freeBoxvariantType_isEmpty__rHe6SHwthy > :global(.__wab_flex-container) > *,
  .freeBoxvariantType_isEmpty__rHe6SHwthy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .freeBoxvariantType_isEmpty__rHe6SHwthy
    > :global(.__wab_flex-container)
    > picture
    > img,
  .freeBoxvariantType_isEmpty__rHe6SHwthy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__qYFj1 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBoxvariantType_isEmpty__qYFj1Hwthy {
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
}
.textvariantType_isEmpty__nMlNvHwthy {
  font-size: 18px /* plasmic-token: UFZg3bUaA */;
  font-weight: 600;
}
.textisActive_isNew_variantType_isEmpty__nMlNvTn7O1Hwthy {
  width: auto;
}
.text__tVef {
  position: relative;
  width: 336px;
  flex-shrink: 0;
}
.textvariantType_isEmpty__tVefHwthy {
  font-size: 15px /* plasmic-token: mV0JUhpGq */;
  font-weight: 400;
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
.textisActive_isNew_variantType_isEmpty__tVefTn7O1Hwthy {
  width: auto;
  max-width: 323px;
}
.viewCreateVenture:global(.__wab_instance) {
  position: relative;
}
.svg__wFsjl {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.text2 {
  height: auto;
}
.text2variantType_isEmpty {
  height: auto;
}
.text2isActive_isNew_variantType_isEmpty {
  width: auto;
}
.svg__eW3 {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.viewCreateTimeline:global(.__wab_instance) {
  position: relative;
}
.svg___40Q91 {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.text23 {
  height: auto;
}
.text23variantType_isEmpty {
  height: auto;
}
.text23isActive_isNew_variantType_isEmpty {
  width: auto;
}
.svg__n37I7 {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.freeBox___77Ib2 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___77Ib2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBoxvariantType_isEmpty___77Ib2Hwthy {
  width: 100%;
  min-width: 0;
  padding: 30px;
}
.freeBoxvariantType_isEmpty___77Ib2Hwthy > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (max-width: 767px) {
  .freeBoxvariantType_isEmpty___77Ib2Hwthy {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .freeBoxvariantType_isEmpty___77Ib2Hwthy > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (max-width: 767px) {
  .freeBoxvariantType_isEmpty___77Ib2Hwthy > :global(.__wab_flex-container) > *,
  .freeBoxvariantType_isEmpty___77Ib2Hwthy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .freeBoxvariantType_isEmpty___77Ib2Hwthy
    > :global(.__wab_flex-container)
    > picture
    > img,
  .freeBoxvariantType_isEmpty___77Ib2Hwthy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__rfS5 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBoxvariantType_isEmpty__rfS5Hwthy {
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
}
.textvariantType_isEmpty__nuDvxHwthy {
  font-size: 18px /* plasmic-token: UFZg3bUaA */;
  font-weight: 600;
}
.text__s7JUk {
  position: relative;
}
.textvariantType_isEmpty__s7JUkHwthy {
  font-size: 15px /* plasmic-token: mV0JUhpGq */;
  font-weight: 400;
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
.viewJoinVenture:global(.__wab_instance) {
  position: relative;
}
.svg__eefsm {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.text22 {
  height: auto;
  width: auto;
}
.text22variantType_isEmpty {
  height: auto;
}
.svg___2AMrh {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
