.root {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 5px;
}
.radio {
  box-shadow: 2px 2px 5px 2px rgba(212, 212, 212, 0.2);
  background: #ffffff;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  align-self: flex-start;
  cursor: pointer;
  min-width: 0;
  border-radius: 10px;
  padding: 10px 15px;
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.radio > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.radio > :global(.__wab_flex-container) > *,
.radio > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.radio > :global(.__wab_flex-container) > picture > img,
.radio > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 5px;
}
.radioradioVariants_isSelected {
  border-color: #2e8c8d /* plasmic-token: Jfzps88GdGw80SE */;
}
.radioradioVariants_isDisabled {
  opacity: 0.7 /* plasmic-token: lzdxoc8dE */;
}
.radioradioVariants_hasImage > :global(.__wab_flex-container) {
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.radioradioVariants_hasImage > :global(.__wab_flex-container) > *,
.radioradioVariants_hasImage
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.radioradioVariants_hasImage > :global(.__wab_flex-container) > picture > img,
.radioradioVariants_hasImage
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
  margin-top: 0px;
}
.radioisHorizontal {
  display: flex;
  flex-direction: column;
}
.radioisHorizontal > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.radioisHorizontal > :global(.__wab_flex-container) > *,
.radioisHorizontal > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.radioisHorizontal > :global(.__wab_flex-container) > picture > img,
.radioisHorizontal
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 12px;
}
@media (max-width: 767px) {
  .radioisHorizontal {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 767px) {
  .radioisHorizontal > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 767px) {
  .radioisHorizontal > :global(.__wab_flex-container) > *,
  .radioisHorizontal
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .radioisHorizontal > :global(.__wab_flex-container) > picture > img,
  .radioisHorizontal
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.root .radio___focusVisibleWithin {
  outline: none;
  border-color: rgb(46, 129, 184) /* plasmic-token: IfaVHQ1Yp */;
}
.freeBox__gJxhU {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 65px;
  flex-shrink: 0;
  display: none;
}
.freeBoxradioVariants_hasImage__gJxhUhPxes {
  display: flex;
}
.freeBoxisHorizontal__gJxhUysWIq {
  width: auto;
  height: 100px;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .freeBoxisHorizontal__gJxhUysWIq {
    width: 65px;
    height: 44px;
    flex-shrink: 0;
  }
}
.img___4Meh {
  position: relative;
  object-fit: cover;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img___4Meh > picture > img {
  object-fit: cover;
}
.img___4Meh > .__wab_img-spacer > img {
  object-fit: cover;
}
.labelContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 85%;
  cursor: pointer;
  min-width: 0;
  min-height: 0;
}
.labelContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.labelContainer > :global(.__wab_flex-container) > *,
.labelContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.labelContainer > :global(.__wab_flex-container) > picture > img,
.labelContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.labelContainerradioVariants_hasLabel {
  align-self: center;
}
.labelContainerradioVariants_hasLabel > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
}
.label {
  width: 100%;
  justify-content: flex-start;
  cursor: pointer;
  min-width: 0;
  display: none;
}
.labelradioVariants_hasLabel {
  display: flex;
}
.labelisHorizontal {
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 767px) {
  .labelisHorizontal {
    align-items: stretch;
    justify-content: flex-start;
  }
}
.slotTargetChildren {
  text-align: center;
  font-size: 18px /* plasmic-token: UFZg3bUaA */;
  font-weight: 400;
}
@media (max-width: 767px) {
  .slotTargetChildren {
    font-size: 15px /* plasmic-token: mV0JUhpGq */;
    text-align: left;
  }
}
@media (max-width: 767px) {
  .slotTargetChildrenisHorizontal {
    text-align: left;
  }
}
.inputHelperText {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  display: none;
}
.inputHelperTextradioVariants_hasDescription {
  display: flex;
}
.slotTargetHelperText {
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
  font-weight: 300;
  font-size: 14px /* plasmic-token: nh1PV_1Nt */;
}
@media (max-width: 767px) {
  .slotTargetHelperText {
    font-size: 12px /* plasmic-token: LxqIZc9hM */;
    text-align: left;
  }
}
.slotTargetHelperTextisHorizontal {
  text-align: center;
}
@media (max-width: 767px) {
  .slotTargetHelperTextisHorizontal {
    text-align: left;
  }
}
.buttonContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.buttonContainerradioVariants_isSelected {
  display: flex;
}
.buttonContainerisHorizontal {
  position: absolute;
  left: auto;
  top: 0px;
  right: 10px;
}
@media (max-width: 767px) {
  .buttonContainerisHorizontal {
    left: auto;
    top: auto;
    position: relative;
    right: auto;
  }
}
.freeBox__gJHtM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 20px;
  height: 20px;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 8px;
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.freeBoxradioVariants_isSelected__gJHtMnYn7 {
  background: #2e8c8d;
  border-color: #2e8c8d /* plasmic-token: Jfzps88GdGw80SE */;
}
