.contentContainer {
  display: flex;
  background-color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  border-radius: 8px;
  padding: 15px 20px;
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.contentContainer__state_text {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.contentContainer__state_graph {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  justify-content: center;
  display: inline-flex;
}
.box {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: auto;
}
.box__state_text {
  justify-content: flex-start;
  width: 100%;
  height: auto;
}
.box__state_graph {
  width: auto;
  display: inline-flex;
}
.textContainer {
  position: relative;
  left: auto;
  top: auto;
  font-weight: 300;
  white-space: normal;
  width: 100%;
  height: 100%;
  font-size: 24px;
}
.textContainer__state_text {
  width: 100%;
  height: 100%;
  font-size: 24px;
  align-self: center;
}
.metric:global(.__wab_instance) {
  position: relative;
}
.metric__state_graph:global(.__wab_instance) {
  width: 100%;
  height: 100%;
}
