.root {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  min-width: 0;
  border-style: solid;
  border-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.editorContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  overflow: auto;
  box-shadow: none;
  background: none;
  min-width: 0;
  padding: 10px 20px;
  border-style: solid;
  border-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.editorContainer__state_isUser {
}
.editorContainer__isUserOnClick {
}
.editorContainer__isUserOnClick_state_isUser {
}
.freeBox__cyQ9E {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: row;
  background: rgba(68, 192, 255, 0);
  min-width: 0;
}
.freeBox__cyQ9E > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__cyQ9E > :global(.__wab_flex-container) > *,
.freeBox__cyQ9E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cyQ9E > :global(.__wab_flex-container) > picture > img,
.freeBox__cyQ9E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.photoAvatar:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__pd48 {
}
.freeBox___0YC8Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__rqpD {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-grow: 3;
  min-width: 0;
}
.freeBox__rqpD > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.freeBox__rqpD > :global(.__wab_flex-container) > *,
.freeBox__rqpD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rqpD > :global(.__wab_flex-container) > picture > img,
.freeBox__rqpD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 3px;
}
.freeBox__state_isUser__rqpDFEdPi {
}
.freeBox__state_isUser__rqpDFEdPi > :global(.__wab_flex-container) {
}
.freeBox__state_isUser__rqpDFEdPi > :global(.__wab_flex-container) > *,
.freeBox__state_isUser__rqpDFEdPi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBox__state_isUser__rqpDFEdPi
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBox__state_isUser__rqpDFEdPi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
}
.freeBox__iU0A {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: row;
  background: rgba(68, 192, 255, 0);
  min-width: 0;
}
.freeBox__iU0A > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__iU0A > :global(.__wab_flex-container) > *,
.freeBox__iU0A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iU0A > :global(.__wab_flex-container) > picture > img,
.freeBox__iU0A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.freeBox__state_isUser__iU0AfEdPi {
}
.freeBox__state_isUser__iU0AfEdPi > :global(.__wab_flex-container) {
}
.freeBox__state_isUser__iU0AfEdPi > :global(.__wab_flex-container) > *,
.freeBox__state_isUser__iU0AfEdPi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBox__state_isUser__iU0AfEdPi
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBox__state_isUser__iU0AfEdPi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
}
.freeBox__cAoxI {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  flex-grow: 3;
}
.freeBox__oKSfs {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__oKSfs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__oKSfs > :global(.__wab_flex-container) > *,
.freeBox__oKSfs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oKSfs > :global(.__wab_flex-container) > picture > img,
.freeBox__oKSfs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.slotTargetUserName {
  font-size: 15px /* plasmic-token: mV0JUhpGq */;
  font-weight: 700;
}
.span__l1Yn1 {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 15px /* plasmic-token: mV0JUhpGq */;
}
.freeBox__wfm2A {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__wfm2A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 7px);
  width: calc(100% + 7px);
}
.freeBox__wfm2A > :global(.__wab_flex-container) > *,
.freeBox__wfm2A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wfm2A > :global(.__wab_flex-container) > picture > img,
.freeBox__wfm2A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 7px;
}
.span {
}
.span__state_isUser_isUserOnClick {
}
.slotTargetDate {
  font-weight: 300;
}
.span___4NLge {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-weight: 300;
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
.freeBox___2Fduc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  top: auto;
  left: auto;
  margin-top: 3px;
  height: auto;
}
.freeBox__state_isUser___2FducFEdPi {
  left: auto;
  top: auto;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 5px) !important;
}
.iconMenu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0px;
  border-width: 0px;
}
.svg {
  object-fit: cover;
  width: 23px;
  height: 26px;
  color: #4d4d4d;
  cursor: pointer;
  flex-shrink: 0;
}
.svg__state_isUser {
}
.svg__isUserOnClick {
}
.svg__isUserOnClick_state_isUser {
}
.dropdown:global(.__wab_instance) {
  position: relative;
  z-index: 2;
}
.dropdown__state_isUser:global(.__wab_instance) {
}
.dropdown__isUserOnClick:global(.__wab_instance) {
}
.dropdown__isUserOnClick_state_isUser:global(.__wab_instance) {
  position: absolute;
  left: auto;
  top: 33px;
  right: 0px;
}
.deleteOption {
  height: auto;
}
.deleteOption__state_isUser {
}
.deleteOption__isUserOnClick_state_isUser {
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.freeBox__wE4D {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding: 5px 0px 15px;
}
.freeBox__ly8Vh {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
}
.slotTargetText {
  font-size: 15px /* plasmic-token: mV0JUhpGq */;
  font-weight: 400;
  white-space: pre-wrap;
}
.text__mkcoe {
}
