.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 0px 20px;
}
.root__itemType_createTimeline:hover {
  opacity: 1;
}
.itemContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  flex-direction: row;
  cursor: pointer;
  overflow: visible;
  min-width: 0;
  border-radius: 10px;
  padding: 10px;
  background: rgba(68, 192, 255, 0);
  border-left: 2px solid rgba(255, 255, 255, 0) /* plasmic-token: W4gFmUIar */;
}
.itemContainer > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.itemContainer > :global(.__wab_flex-container) > *,
.itemContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 12px;
}
.itemContainer__itemType_createTimeline {
  opacity: 0;
  background: none;
  border: 1px dashed rgba(255, 255, 255, 0) /* plasmic-token: W4gFmUIar */;
}
.itemContainer__isActive {
  background: rgb(2, 157, 127);
}
.itemContainer__isActive_itemType_createTimeline {
  background: rgb(2, 157, 127);
}
.itemContainer__itemType_createTimeline_isVisible {
  opacity: 1;
}
.root:hover .itemContainer {
  background: rgb(249, 249, 250);
}
.root__itemType_createTimeline:hover .itemContainer__itemType_createTimeline {
  background: none;
  border-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.root__isActive:hover .itemContainer__isActive {
  background: rgb(2, 157, 127);
}
.box__lklH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box__itemType_createTimeline__lklHOuGst {
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: auto;
  display: inline-flex;
  padding: 6px;
}
.svg__w77Z {
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__itemType_createTimeline__w77ZOuGst {
  color: rgb(187, 187, 187) /* plasmic-token: gYMfVVYI5 */;
}
.icon:global(.__wab_instance) {
  position: relative;
}
.svg___6Fx5D {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__itemType_createTimeline___6Fx5DOuGst {
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
.svg__isActive___6Fx5Dw0Xu8 {
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.root__itemType_createTimeline:hover
  .svg__itemType_createTimeline___6Fx5DOuGst {
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
.box__zwdJs {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  flex-grow: 3;
  overflow: hidden;
}
.box__zwdJs > :global(.__wab_flex-container) {
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.box__zwdJs > :global(.__wab_flex-container) > *,
.box__zwdJs > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.box__itemType_createTimeline__zwdJsOuGst {
  opacity: 0;
}
.root__itemType_createTimeline:hover .box__itemType_createTimeline__zwdJsOuGst {
  opacity: 1;
}
.slotName {
  font-size: 15px /* plasmic-token: mV0JUhpGq */;
  font-weight: 600;
}
.slotName__itemType_timeline {
  font-weight: 400;
}
.slotName__itemType_createTimeline {
  font-weight: 400;
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
.slotName__isActive {
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.root__itemType_createTimeline:hover .slotName__itemType_createTimeline {
  font-weight: 400;
}
.box__j6CkC {
  width: 100%;
  height: auto;
  min-width: 0;
}
.textbox {
  position: relative;
  width: 180px;
  height: 26px;
  padding-left: 5px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
}
.iconButton:global(.__wab_instance) {
  position: relative;
}
.svg__zhtWc {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__isActive_itemType_createTimeline__zhtWcw0Xu8OuGst {
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.svg__isActive_isUserOnClick__zhtWcw0Xu8XgVg8 {
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.root__isActive:hover .svg__isActive__zhtWcw0Xu8 {
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.dropdown:global(.__wab_instance) {
  position: absolute;
  left: auto;
  top: 29px;
  right: 7px;
}
.dropdown__isUserOnClick:global(.__wab_instance) {
  z-index: 30;
  top: 33px;
}
