.root {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox__ebv0I {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 767px) {
  .freeBox__ebv0I {
    padding-top: 75px;
  }
}
.header:global(.__wab_instance) {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
}
.freeBox__pMmw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  left: auto;
  top: auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgb(249, 249, 250);
  min-width: 0;
  min-height: 0;
  margin: 55px 0px 0px;
}
@media (min-width: 1201px) {
  .freeBox__pMmw {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
@media (max-width: 767px) {
  .freeBox__pMmw {
    align-items: flex-start;
    overflow: auto;
    padding: 20px 0px 40px;
    margin: 0px;
  }
}
.freeBox__ibtro {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  height: auto;
  min-width: 0;
  padding: 10%;
}
.freeBox__ibtro > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 5%);
  height: calc(100% + 5%);
}
.freeBox__ibtro > :global(.__wab_flex-container) > *,
.freeBox__ibtro > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ibtro > :global(.__wab_flex-container) > picture > img,
.freeBox__ibtro
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5%;
}
@media (min-width: 1201px) {
  .freeBox__ibtro {
    height: 100%;
    width: auto;
    display: inline-flex;
    min-height: 0;
  }
}
@media (min-width: 1201px) {
  .freeBox__ibtro > :global(.__wab_flex-container) {
    align-items: center;
  }
}
@media (max-width: 767px) {
  .freeBox__ibtro {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    padding: 10px 0px;
  }
}
@media (max-width: 767px) {
  .freeBox__ibtro > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 19px);
    height: calc(100% + 19px);
  }
}
@media (max-width: 767px) {
  .freeBox__ibtro > :global(.__wab_flex-container) > *,
  .freeBox__ibtro > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ibtro > :global(.__wab_flex-container) > picture > img,
  .freeBox__ibtro
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 19px;
  }
}
.freeBox__qLx8X {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__qLx8X > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.freeBox__qLx8X > :global(.__wab_flex-container) > *,
.freeBox__qLx8X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qLx8X > :global(.__wab_flex-container) > picture > img,
.freeBox__qLx8X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
@media (max-width: 767px) {
  .freeBox__qLx8X {
    padding: 10px 30px;
  }
}
.freeBox__x6LVc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__qDcm3 {
  font-size: 30px /* plasmic-token: mXYe0t8Ye */;
  font-weight: 300;
  line-height: 1;
}
@media (max-width: 767px) {
  .freeBox__qDcm3 {
    font-size: 22px /* plasmic-token: y8zaQOVwJ */;
    text-align: center;
    line-height: 1.1;
  }
}
.freeBox__hUGd0 {
  position: relative;
  font-size: 30px /* plasmic-token: mXYe0t8Ye */;
  font-weight: 600;
  line-height: 1;
}
@media (max-width: 767px) {
  .freeBox__hUGd0 {
    font-size: 22px /* plasmic-token: y8zaQOVwJ */;
    text-align: center;
    line-height: 1.1;
  }
}
.freeBox__xRb1Y {
  position: relative;
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
@media (max-width: 767px) {
  .freeBox__xRb1Y {
    text-align: center;
  }
}
.profileForm:global(.__wab_instance) {
  position: relative;
}
