@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C500&display=swap");
.root_reset {
  font-family: Roboto;
  font-size: 15px /* plasmic-token: mV0JUhpGq */;
  font-weight: normal;
  font-style: normal;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
