.root {
  display: flex;
  align-items: flex-start;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  position: relative;
  padding-right: 0px;
}
.updateActionContainer {
  display: inline-flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  height: 100%;
  flex-direction: column;
  padding: 20px;
}
.updateActionContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.updateActionContainer > :global(.__wab_flex-container) > *,
.updateActionContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 10px;
}
.iconButton__i1WjS:global(.__wab_instance) {
  position: relative;
}
.startIcon {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.iconButton__zHnWq:global(.__wab_instance) {
  position: relative;
}
.startIcon2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.toggleUpdateView:global(.__wab_instance) {
  position: relative;
}
.startIcon22 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.updateContent:global(.__wab_instance) {
  position: relative;
  align-self: flex-start;
}
.organizationName {
  position: relative;
  font-size: 16px;
  font-weight: 400;
}
