.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.root__itemType_createTimeline:hover {
  opacity: 1;
}
.svg__bufRg {
  position: relative;
  object-fit: cover;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__hasNewActivity__bufRg0PiUm {
  color: #2e8c8d /* plasmic-token: Jfzps88GdGw80SE */;
  width: 8px;
  height: 8px;
  position: absolute;
  left: -11px;
  top: 39%;
  flex-shrink: 0;
}
.itemContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  flex-direction: row;
  cursor: pointer;
  overflow: visible;
  background: rgba(68, 192, 255, 0);
  min-width: 0;
  border-radius: 10px;
  padding: 10px;
  border-left: 2px solid rgba(255, 255, 255, 0) /* plasmic-token: W4gFmUIar */;
}
.itemContainer > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.itemContainer > :global(.__wab_flex-container) > *,
.itemContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.itemContainer > :global(.__wab_flex-container) > picture > img,
.itemContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.itemContainer__itemType_createTimeline {
  opacity: 0;
  background: none;
  border: 1px dashed rgba(255, 255, 255, 0) /* plasmic-token: W4gFmUIar */;
}
.itemContainer__isActive {
  background: #2e8c8d;
}
.itemContainer__isActive_itemType_createTimeline {
  background: #2e8c8d;
}
.itemContainer__itemType_createTimeline_isVisible {
  opacity: 1;
}
.root:hover .itemContainer {
  background: #373050;
}
.root__itemType_createTimeline:hover .itemContainer__itemType_createTimeline {
  background: none;
  border-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.root__isActive:hover .itemContainer__isActive {
  background: #2e8c8d;
}
.freeBox__lklH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__itemType_createTimeline__lklHOuGst {
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: auto;
  display: inline-flex;
  padding: 6px;
}
.freeBox__isOwner__lklHXgVg8 {
  display: none;
}
.svg__w77Z {
  object-fit: cover;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__itemType_createTimeline__w77ZOuGst {
  color: rgb(187, 187, 187) /* plasmic-token: gYMfVVYI5 */;
}
.icon:global(.__wab_instance) {
  position: relative;
}
.svg___6Fx5D {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
  min-width: 0;
  min-height: 0;
}
.svg__itemType_createTimeline___6Fx5DOuGst {
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
.svg__isActive___6Fx5Dw0Xu8 {
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.root__itemType_createTimeline:hover
  .svg__itemType_createTimeline___6Fx5DOuGst {
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
.freeBox__zwdJs {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  flex-grow: 3;
  overflow: hidden;
}
.freeBox__zwdJs > :global(.__wab_flex-container) {
  align-items: center;
  flex-wrap: nowrap;
  align-content: unset;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__zwdJs > :global(.__wab_flex-container) > *,
.freeBox__zwdJs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zwdJs > :global(.__wab_flex-container) > picture > img,
.freeBox__zwdJs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.freeBox__itemType_timeline__zwdJSoN3Wv {
  width: 100%;
  min-width: 0;
}
.freeBox__itemType_timeline__zwdJSoN3Wv > :global(.__wab_flex-container) {
  min-width: 0;
}
.freeBox__itemType_createTimeline__zwdJsOuGst {
  opacity: 0;
}
.freeBox__isPublic__zwdJsPZwt {
  padding-left: 6px;
}
.root__itemType_timeline:hover .freeBox__itemType_timeline__zwdJSoN3Wv {
  width: 100%;
  min-width: 0;
}
.root__itemType_timeline:hover
  .freeBox__itemType_timeline__zwdJSoN3Wv
  > :global(.__wab_flex-container) {
  min-width: 0;
}
.root__itemType_createTimeline:hover
  .freeBox__itemType_createTimeline__zwdJsOuGst {
  opacity: 1;
}
.slotTargetName {
  font-size: 15px /* plasmic-token: mV0JUhpGq */;
  font-weight: 600;
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
  white-space: pre;
}
.slotTargetName > .__wab_text,
.slotTargetName > .__wab_slot-string-wrapper,
.slotTargetName > .__wab_slot > .__wab_text,
.slotTargetName > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetName > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetName > .__wab_slot > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetName > .__wab_slot > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetName
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-overflow: ellipsis;
}
.slotTargetName > *,
.slotTargetName > .__wab_slot > *,
.slotTargetName > .__wab_slot > .__wab_slot > *,
.slotTargetName > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetName > picture > img,
.slotTargetName > .__wab_slot > picture > img,
.slotTargetName > .__wab_slot > .__wab_slot > picture > img,
.slotTargetName > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
  overflow: hidden;
}
.slotTargetName__itemType_timeline {
  font-weight: 400;
}
.slotTargetName__itemType_createTimeline {
  font-weight: 400;
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
.slotTargetName__isActive {
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.root__itemType_createTimeline:hover .slotTargetName__itemType_createTimeline {
  font-weight: 400;
}
.text__j6CkC {
  width: 100%;
  height: auto;
  padding-left: 11px;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0;
}
.textbox__ogebi {
  position: relative;
  width: 180px;
  height: 26px;
  padding-left: 5px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #2e8c8d /* plasmic-token: Jfzps88GdGw80SE */;
}
.freeBox__xZeoS {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 25px;
  flex-shrink: 0;
  display: none;
}
.freeBox__isOwner__xZeoSXgVg8 {
  display: none;
}
.root:hover .freeBox__xZeoS {
  display: flex;
}
.iconButton:global(.__wab_instance) {
  display: none;
}
.iconButton__isOwner:global(.__wab_instance) {
  display: none;
}
.root__isOwner:hover .iconButton__isOwner:global(.__wab_instance) {
  display: flex;
}
.svg__zhtWc {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__isActive_itemType_createTimeline__zhtWcw0Xu8OuGst {
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.svg__isActive_isOwner__zhtWcw0Xu8XgVg8 {
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.root:hover .svg__zhtWc {
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.root__isActive:hover .svg__isActive__zhtWcw0Xu8 {
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.dropdown:global(.__wab_instance) {
  position: absolute;
  left: auto;
  top: 29px;
  right: 7px;
  display: none;
}
.dropdown__isOwner:global(.__wab_instance) {
  z-index: 30;
  top: 33px;
}
.dropdown__isDropdown_isOwner:global(.__wab_instance) {
  display: flex;
}
