.container {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  background-color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 65px 0px 40px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .container {
    width: 100%;
    height: auto;
    min-width: 0;
    padding: 0px 20px;
  }
}
@media (min-width: 0px) and (max-width: 319px) {
  .container {
    padding: 0px 20px;
  }
}
.box___3Xg51 {
  display: inline-flex;
  position: relative;
  width: auto;
  height: 100%;
  flex-direction: row;
  flex-grow: 3;
  border-bottom-color: rgb(224, 224, 224)
    /* plasmic-token: 9--4ZPcisViPq8V */;
  border-bottom-style: solid;
  min-height: 0;
  padding: 15px 0px;
}
.box___3Xg51 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.box___3Xg51 > :global(.__wab_flex-container) > *,
.box___3Xg51
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .box___3Xg51 {
    padding: 15px 10px;
  }
}
.slotTimelineName {
  font-size: 30px;
}
.box__rlXLs {
  width: 3px;
  background-color: rgb(2, 157, 127)
    /* plasmic-token: Jfzps88GdGw80SE */;
  height: 37px;
  margin-right: 10px;
  display: block;
  position: relative;
  align-self: auto;
  flex-shrink: 0;
}
.box__sDNfz {
  display: inline-flex;
  position: relative;
  width: auto;
  cursor: pointer;
  max-width: 363px;
}
.slotTimelineDescription {
  font-size: 16px;
  font-weight: 300;
}
@media (min-width: 0px) and (max-width: 760px) {
  .slotTimelineDescription {
    font-size: 14px;
  }
}
.box__lP94A {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  top: auto;
  left: auto;
  margin-top: 3px;
  height: auto;
}
.button {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0px;
  border-width: 0px;
}
.svg {
  object-fit: cover;
  width: 23px;
  height: 26px;
  color: #4d4d4d;
  flex-shrink: 0;
}
