.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 15px 5px;
  border-top: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.freeBox__vAfXq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: flex-end;
}
.freeBox__vAfXq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.freeBox__vAfXq > :global(.__wab_flex-container) > *,
.freeBox__vAfXq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vAfXq > :global(.__wab_flex-container) > picture > img,
.freeBox__vAfXq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.photoAvatar:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.photoAvatar__userVariant_isRequested:global(.__wab_instance) {
  flex-shrink: 0;
}
.slotSlot3 {
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
.svg__dd2Hx {
  position: relative;
  object-fit: cover;
  color: rgb(187, 187, 187) /* plasmic-token: gYMfVVYI5 */;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__userVariant_isRequested__dd2HXoSddm {
  display: none;
}
.svg__userVariant_isMember__dd2HxgdyZr {
  display: none;
}
.svg__userVariant_isSelf__dd2HxaAx2Z {
  display: none;
}
.svg__isOwner_userVariant_isMember__dd2HXpkRzzGdyZr {
  display: none;
}
.svg__isOwner_userVariant_isRequested__dd2HXpkRzzOSddm {
  display: none;
}
.freeBox__ymOfc {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__ymOfc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__ymOfc > :global(.__wab_flex-container) > *,
.freeBox__ymOfc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ymOfc > :global(.__wab_flex-container) > picture > img,
.freeBox__ymOfc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.iconButton:global(.__wab_instance) {
  position: relative;
}
.iconButton__userVariant_isSelf_isOwner:global(.__wab_instance) {
  display: none;
}
.svg__jmi9G {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.dropdown {
  box-shadow: 2px 2px 5px 2px rgba(212, 212, 212, 0.2);
  background: #ffffff;
  display: none;
  position: absolute;
  flex-direction: column;
  left: auto;
  top: 25px;
  width: 172px;
  right: 0px;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 10px 0px;
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.dropdown > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.dropdown > :global(.__wab_flex-container) > *,
.dropdown > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.dropdown > :global(.__wab_flex-container) > picture > img,
.dropdown
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.dropdown__isDropdown {
  z-index: 60;
  display: flex;
}
.removeInvitation:global(.__wab_instance) {
  position: relative;
}
.freeBox___5GQ6G {
  position: relative;
}
.freeBox__userVariant_isSelf_isOwner___5GQ6GAAx2ZPkRzz {
  font-size: 12px /* plasmic-token: LxqIZc9hM */;
  color: rgb(187, 187, 187) /* plasmic-token: gYMfVVYI5 */;
}
