.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
}
.box__ky7Rm {
  display: flex;
  position: relative;
  width: 100%;
  height: 75px;
  flex-direction: row;
  min-width: 0;
  padding: 0px 24px;
  background: #ffffff;
  border-bottom: 1px solid rgb(224, 224, 224)
    /* plasmic-token: 9--4ZPcisViPq8V */;
}
.box__ky7Rm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.box__ky7Rm > :global(.__wab_flex-container) > *,
.box__ky7Rm > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
.box__wE8Ym {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
}
.box__wE8Ym > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.box__wE8Ym > :global(.__wab_flex-container) > *,
.box__wE8Ym > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .box__wE8Ym > :global(.__wab_flex-container) {
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .box__wE8Ym > :global(.__wab_flex-container) > *,
  .box__wE8Ym > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 20px;
    margin-top: 0px;
  }
}
.svg___09Qs7 {
  object-fit: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
  flex-shrink: 0;
}
.svg__u6Qtf {
  position: relative;
  object-fit: cover;
  width: 148px;
  height: 13px;
  flex-shrink: 0;
}
.box___4Ktdl {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: row;
  background: rgba(68, 192, 255, 0);
}
.box___4Ktdl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.box___4Ktdl > :global(.__wab_flex-container) > *,
.box___4Ktdl > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
.avatar:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.avatar__profileDropdown:global(.__wab_instance) {
  flex-shrink: 0;
}
.dropdown:global(.__wab_instance) {
  position: relative;
  right: -23px;
}
.dropdown__profileDropdown:global(.__wab_instance) {
  position: absolute;
  left: auto;
  top: 65px;
  right: -15px;
}
