.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.box__bSzQ {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  background: rgba(21, 15, 36, 0.73);
}
.box__isVisible_showModal__bSzQvxFZh {
  z-index: 70;
}
.modal:global(.__wab_instance) {
  position: relative;
}
.header:global(.__wab_instance) {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 50;
}
.box___70Att {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  left: auto;
  top: auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding-top: 55px;
  min-width: 0;
  margin: 0px;
  background: rgb(249, 249, 250);
}
.sidebar:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 1201px) {
  .sidebar:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .sidebar:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 767px) {
  .sidebar:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.sidebar__isVisible_mobileSidebar:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .sidebar__isVisible_mobileSidebar:global(.__wab_instance) {
    position: absolute;
    left: 0px;
    top: 75px;
    z-index: 10;
    width: 100%;
    min-width: 0;
  }
}
.sidebar__isVisible_mobileSidebar_isVisible_postDetails:global(.__wab_instance) {
  flex-shrink: 0;
}
.box__cJlKh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-bottom: 66px;
  min-width: 0;
  min-height: 0;
}
.postDetails:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 1201px) {
  .postDetails:global(.__wab_instance) {
    max-width: 430px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .postDetails:global(.__wab_instance) {
    max-width: 430px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .postDetails:global(.__wab_instance) {
    position: absolute;
    left: auto;
    top: 0px;
    right: 0px;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 767px) {
  .postDetails:global(.__wab_instance) {
    position: absolute;
    left: auto;
    top: 0px;
    right: 0px;
  }
}
