.root {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  background: rgba(255, 255, 255, 0);
  min-width: 0;
  border-style: solid;
  border-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.editorContainer {
  box-shadow: 2px 2px 5px 2px rgba(212, 212, 212, 0.2);
  background: #ffffff;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  align-self: auto;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0.2s;
  min-width: 0;
  min-height: 0;
  border-radius: 10px;
  padding: 30px 20px;
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.editorContainer__state_isPostDetails {
  box-shadow: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  margin-bottom: 10px;
  background: none;
  border-radius: 0px;
  padding: 20px;
}
.freeBox__z3Q65 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px 0px 20px;
}
.freeBox__state_isOwner__z3Q65U0Xnn {
  justify-content: space-between;
}
.textContainer2 {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
}
.textContainer2 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.textContainer2 > :global(.__wab_flex-container) > *,
.textContainer2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 15px;
}
.title {
  position: relative;
  font-size: 18px /* plasmic-token: UFZg3bUaA */;
  font-weight: 600;
}
.description {
  position: relative;
}
.freeBox__vVNrv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0px;
  border-width: 0px;
}
.iconMenu {
  object-fit: cover;
  width: 16px;
  height: 26px;
  color: #4d4d4d;
  cursor: pointer;
  flex-shrink: 0;
}
.dropdown:global(.__wab_instance) {
  position: relative;
}
.dropdown__isUserOnClick:global(.__wab_instance) {
  right: auto;
}
.dropdown__isUserOnClick_state_isOwner:global(.__wab_instance) {
  position: absolute;
  left: auto;
  top: 33px;
  right: 0px;
}
.archiveOption {
  height: auto;
}
.freeBox__ehjLr {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: row;
  background: rgba(68, 192, 255, 0);
}
.freeBox__ehjLr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__ehjLr > :global(.__wab_flex-container) > *,
.freeBox__ehjLr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
@media (max-width: 767px) {
  .freeBox__ehjLr {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 767px) {
  .freeBox__ehjLr > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: flex-start;
    margin-left: calc(0px - 5px);
    width: calc(100% + 5px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (max-width: 767px) {
  .freeBox__ehjLr > :global(.__wab_flex-container) > *,
  .freeBox__ehjLr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 5px;
    margin-top: 8px;
  }
}
.freeBox__kyNpO {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  width: auto;
}
.freeBox__kyNpO > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__kyNpO > :global(.__wab_flex-container) > *,
.freeBox__kyNpO > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
@media (max-width: 767px) {
  .freeBox__kyNpO {
    left: auto;
    top: auto;
  }
}
.photoAvatar:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__mkSty {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 3;
  background: rgba(68, 192, 255, 0);
}
.freeBox__mkSty > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__mkSty > :global(.__wab_flex-container) > *,
.freeBox__mkSty > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 0px;
}
.freeBox__fjL5B {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: row;
  background: rgba(68, 192, 255, 0);
  min-width: 0;
}
.freeBox__fjL5B > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__fjL5B > :global(.__wab_flex-container) > *,
.freeBox__fjL5B > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
.freeBox__nwWG {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
}
.slotUserName {
  font-size: 16px;
  font-weight: 600;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.span__kq2PL {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 14px /* plasmic-token: nh1PV_1Nt */;
  font-weight: 600;
}
.freeBox__wDBh5 {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
}
.freeBox__wDBh5 > :global(.__wab_flex-container) {
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__wDBh5 > :global(.__wab_flex-container) > *,
.freeBox__wDBh5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 4px;
}
.span {
  position: relative;
}
.slotDate {
  font-weight: 300;
}
.span__iEzaX {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 14px /* plasmic-token: nh1PV_1Nt */;
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
.freeBox__vvzri {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: row;
  background: rgba(68, 192, 255, 0);
}
.freeBox__vvzri > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__vvzri > :global(.__wab_flex-container) > *,
.freeBox__vvzri > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
.timelineNamesContainer {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  cursor: pointer;
}
.timelineNamesContainer > :global(.__wab_flex-container) {
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.timelineNamesContainer > :global(.__wab_flex-container) > *,
.timelineNamesContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 5px;
}
.timelineLink:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.slotChildren {
  font-weight: 600;
}
.freeBox__iRFwS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.viewReplies:global(.__wab_instance) {
  align-self: flex-end;
}
.svg__w2QpP {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.svg__i90Xz {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.svg__state_isPublic__i90XzYirUl {
  width: 18px;
  height: 15px;
}
