.Update__root {
  display: flex;
  flex-direction: column;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: auto;
  position: relative;
  max-width: 700px;
}
.Update__root > .__wab_flex-container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.Update__root > .__wab_flex-container > *,
.Update__root > .__wab_flex-container > .__wab_slot > * {
  margin-top: 10px;
}
.Update__root__text {
  height: auto;
  width: auto;
  display: inline-flex;
}
.Update__root__graph {
  width: auto;
  display: inline-flex;
}
.Update__box__cT4Ab {
  display: flex;
  position: relative;
  background-color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: column;
  align-self: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 8px;
  padding: 15px 20px;
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.Update__box__cT4Ab9Dd__text {
  justify-content: space-between;
  align-self: flex-start;
  align-items: flex-start;
}
.Update__box__cT4AbVlb85__graph {
  width: 100%;
}
.Update__box__aQbk3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: auto;
}
.Update__box__aQbk39Dd__text {
  justify-content: flex-start;
  width: 100%;
  height: auto;
}
.Update__box__aQbk3Vlb85__graph {
  width: auto;
  display: inline-flex;
}
.Update__textContainer {
  position: relative;
  left: auto;
  top: auto;
  font-weight: 300;
  white-space: normal;
  width: 100%;
  height: auto;
}
.Update__textContainer__text {
  width: 100%;
  height: 209px;
  font-size: 24px;
  align-self: center;
}
.Update__metric.__wab_instance {
  position: relative;
}
