.root {
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
}
.group64 {
  opacity: 1;
  transform: scale(1, 1) rotate(0deg);
  width: 280px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding: 0px;
}
.welcomeForm {
  box-shadow: none;
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 10px;
  padding: 20px;
  background: #ffffff;
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.welcomeForm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.welcomeForm > :global(.__wab_flex-container) > *,
.welcomeForm > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 20px;
}
.box__ljTa5 {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.box__ljTa5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.box__ljTa5 > :global(.__wab_flex-container) > *,
.box__ljTa5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 20px;
}
.box__aUujC {
  display: flex;
  position: relative;
  opacity: 1;
  transform: scale(1, 1) rotate(0deg) translate(0px, 0px);
  transform-origin: top left;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__aUujC > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 17px);
  height: calc(100% + 17px);
}
.box__aUujC > :global(.__wab_flex-container) > *,
.box__aUujC > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 17px;
}
.slotOrganizationDescription {
  font-family: "SF Pro Text";
  font-size: 12px;
  font-weight: 400;
  color: rgba(117, 117, 117, 1);
  text-align: center;
  text-transform: none;
  letter-spacing: 0px;
}
.slotOrganizationDescription > * {
  text-decoration-line: none;
}
.organizationDescription {
  font-size: 15px /* plasmic-token: mV0JUhpGq */;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
  font-weight: 600;
  margin-bottom: 12px;
}
.box__hxFmc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.box__hxFmc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.box__hxFmc > :global(.__wab_flex-container) > *,
.box__hxFmc > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 15px;
}
.svg___3JrHd {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.text2 {
  height: auto;
}
.svg___3WnXb {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.save:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.svg__seQ2S {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.text22 {
  height: auto;
  width: auto;
  display: inline-block;
}
.svg__oTsn {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
