.root {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.root__isDisabled {
}
.textInput {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.textInput > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.textInput > :global(.__wab_flex-container) > *,
.textInput > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.textInput > :global(.__wab_flex-container) > picture > img,
.textInput
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.labelContainer {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: flex-start;
  min-width: 0;
}
.labelContainer__hasLabel {
}
.slotTargetLabel {
  text-align: center;
  font-size: 15px /* plasmic-token: mV0JUhpGq */;
  font-weight: 600;
}
.text__dj8Rx {
}
.inputHelperText {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.inputHelperText__hasTextHelper {
}
.inputHelperText__error {
}
.inputHelperText__hasLabel {
}
.slotTargetChildren {
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
  font-weight: 300;
  font-size: 14px /* plasmic-token: nh1PV_1Nt */;
}
.text__nHpTo {
}
.textboxContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.input {
  width: 100%;
  height: 81px;
  text-align: left;
  font-size: 15px /* plasmic-token: mV0JUhpGq */;
  cursor: text;
  align-self: flex-start;
  flex-shrink: 1;
  min-width: 0;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.input__error {
}
.input__isDisabled {
  cursor: default;
  pointer-events: none;
  background: rgb(249, 249, 250);
}
.root:focus-within .input {
  outline: none;
  border-color: #2e8c8d /* plasmic-token: Jfzps88GdGw80SE */;
}
.root .input::placeholder {
  color: rgb(187, 187, 187) /* plasmic-token: gYMfVVYI5 */;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.freeBox__wBY0 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__ytJal {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-height: 23px;
  min-width: 0;
}
.freeBox__error__ytJalieWq6 {
}
.errorMessage:global(.__wab_instance) {
}
.errorMessage__error:global(.__wab_instance) {
}
.errorMessage__isDisabled:global(.__wab_instance) {
}
.root:focus-within .errorMessage:global(.__wab_instance) {
  outline: none;
}
.text__rxezz {
}
.svg__r1ILf {
  position: relative;
  object-fit: cover;
  width: 15px;
  height: 15px;
}
