.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
}
.freeBox__ky7Rm {
  display: flex;
  position: relative;
  width: 100%;
  height: 65px;
  flex-direction: row;
  background: none;
  min-width: 0;
  padding: 0px 20px;
  border-bottom: 1px solid rgb(224, 224, 224)
    /* plasmic-token: 9--4ZPcisViPq8V */;
}
.freeBox__ky7Rm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__ky7Rm > :global(.__wab_flex-container) > *,
.freeBox__ky7Rm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ky7Rm > :global(.__wab_flex-container) > picture > img,
.freeBox__ky7Rm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.freeBox__views_onboarding__ky7Rmx3M4P {
  background: #ffffff;
}
.freeBox__wE8Ym {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
}
.freeBox__wE8Ym > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.freeBox__wE8Ym > :global(.__wab_flex-container) > *,
.freeBox__wE8Ym > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wE8Ym > :global(.__wab_flex-container) > picture > img,
.freeBox__wE8Ym
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (max-width: 767px) {
  .freeBox__wE8Ym > :global(.__wab_flex-container) {
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 767px) {
  .freeBox__wE8Ym > :global(.__wab_flex-container) > *,
  .freeBox__wE8Ym > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wE8Ym > :global(.__wab_flex-container) > picture > img,
  .freeBox__wE8Ym
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 0px;
  }
}
.toggleMobileSidebar {
  object-fit: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
  flex-shrink: 0;
}
.mainHeader:global(.__wab_instance) {
  position: relative;
}
.mainHeader__views_onboarding:global(.__wab_instance) {
  display: flex;
}
.iconButton__eg7Gg:global(.__wab_instance) {
  position: relative;
}
.svg__zdy2X {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text {
  position: relative;
}
.text__views_publicView {
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
@media (min-width: 768px) and (max-width: 991px) {
  .text__views_publicView {
    font-size: 12px /* plasmic-token: LxqIZc9hM */;
  }
}
@media (max-width: 767px) {
  .text__views_publicView {
    display: none;
  }
}
.link {
  position: relative;
}
.link__views_publicView {
  color: #2e8c8d /* plasmic-token: Jfzps88GdGw80SE */;
}
.freeBox___4Ktdl {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: row;
  cursor: pointer;
  background: rgba(68, 192, 255, 0);
}
.freeBox___4Ktdl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox___4Ktdl > :global(.__wab_flex-container) > *,
.freeBox___4Ktdl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4Ktdl > :global(.__wab_flex-container) > picture > img,
.freeBox___4Ktdl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__sYc20 {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.svg__bBlNx {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.iconButton:global(.__wab_instance) {
  position: relative;
  display: flex;
}
.svg___8QpRc {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: default;
  min-width: 0;
  min-height: 0;
}
.avatar:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.avatar__profileDropdown:global(.__wab_instance) {
  flex-shrink: 0;
}
.dropdown:global(.__wab_instance) {
  position: relative;
  right: -23px;
  top: 79px;
  display: none;
}
.dropdown__profileDropdown:global(.__wab_instance) {
  position: absolute;
  left: auto;
  top: 51px;
  right: -15px;
}
