.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.header:global(.__wab_instance) {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
}
.box___70Att {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  left: auto;
  top: auto;
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding-top: 75px;
  min-width: 0;
  margin: 0px;
  background: linear-gradient(rgb(249, 249, 250), rgb(249, 249, 250))
    /* plasmic-token: 4lM47qJruvPIx-u, 4lM47qJruvPIx-u */;
}
.sidebar:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .sidebar:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.box__cJlKh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  min-width: 0;
  min-height: 0;
}
.postDetails:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 1440px) {
  .postDetails:global(.__wab_instance) {
    max-width: 420px;
  }
}
@media (min-width: 760px) and (max-width: 1440px) {
  .postDetails:global(.__wab_instance) {
    max-width: 420px;
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .postDetails:global(.__wab_instance) {
    position: absolute;
    left: 0px;
    top: 0px;
  }
}
