.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 940px;
  position: relative;
  min-width: 0;
  min-height: 0;
  padding: 20px 40px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 30px;
}
.mainHeader:global(.__wab_instance) {
  position: relative;
}
.box {
  font-size: 14px /* plasmic-token: nh1PV_1Nt */;
  height: auto;
}
@media (max-width: 991px) {
  .box {
    font-size: 12px /* plasmic-token: LxqIZc9hM */;
  }
}
.feedUpdate:global(.__wab_instance) {
  position: relative;
}
.addEditMembers:global(.__wab_instance) {
  position: relative;
}
.addEditVenture:global(.__wab_instance) {
  position: relative;
}
.addEditTimeline:global(.__wab_instance) {
  position: relative;
}
