.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 10px 40px;
  border-top: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
  border-bottom: 0px solid rgb(224, 224, 224)
    /* plasmic-token: 9--4ZPcisViPq8V */;
}
@media (max-width: 767px) {
  .root {
    padding: 10px 20px;
  }
}
.members {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.membersvisibilityType_members {
  display: flex;
}
.freeBox__kyiVc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (max-width: 767px) {
  .freeBox__kyiVc {
    display: none;
  }
}
.svg___9CuS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 30px;
  min-height: 0;
}
.freeBox__dFstR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__jKZx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetSlot2 {
  font-size: 18px /* plasmic-token: UFZg3bUaA */;
}
.freeBox__pKszk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
._private {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
._privatevisibilityType__private {
  display: flex;
}
.freeBox__uHr1P {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (max-width: 767px) {
  .freeBox__uHr1P {
    display: none;
  }
}
.svg__rTnCb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 30px;
  min-height: 0;
}
.freeBox__bwnan {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__dLbL0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetSlot3 {
  font-size: 18px /* plasmic-token: UFZg3bUaA */;
}
.freeBox___2DDls {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
._public {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
._publicvisibilityType_members {
  display: none;
}
._publicvisibilityType__private {
  display: none;
}
.freeBox__foune {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (max-width: 767px) {
  .freeBox__foune {
    display: none;
  }
}
.svg___30WZw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 30px;
  min-height: 0;
}
.freeBox__r3IbM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___52Vad {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetSlot4 {
  font-size: 18px /* plasmic-token: UFZg3bUaA */;
}
.freeBox__ho20O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__jq2M {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (max-width: 767px) {
  .freeBox__jq2M {
    width: auto;
    height: auto;
  }
}
.select:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
@media (max-width: 767px) {
  .select:global(.__wab_instance) {
    display: flex;
  }
}
@media (max-width: 767px) {
  .text {
    color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
  }
}
.dropdownIcon {
  position: relative;
  object-fit: cover;
  width: 10px;
  height: 20px;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
@media (max-width: 767px) {
  .dropdownIcon {
    width: 15px;
  }
}
.optionPrivate:global(.__wab_instance) {
  position: relative;
}
.optionMember:global(.__wab_instance) {
  position: relative;
}
.optionPublic:global(.__wab_instance) {
  position: relative;
}
