.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  cursor: pointer;
  min-width: 0;
  padding: 0px 15px;
}
.slotTargetRename {
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.root:hover .slotTargetRename {
  color: #2e8c8d /* plasmic-token: Jfzps88GdGw80SE */;
}
