.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox__bSzQ {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(21, 15, 36, 0.73);
  min-width: 0;
  min-height: 0;
}
.freeBox__isVisible_showModal__bSzQvxFZh {
  z-index: 70;
}
.modal:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 767px) {
  .modal__isVisible_showModal:global(.__wab_instance) {
    width: auto;
  }
}
.freeBox___2S56J {
  font-size: 15px /* plasmic-token: mV0JUhpGq */;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
  font-weight: 600;
  margin-bottom: 12px;
}
.freeBox__hsgFg {
  font-size: 15px /* plasmic-token: mV0JUhpGq */;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
  font-weight: 600;
  margin-bottom: 12px;
}
.header:global(.__wab_instance) {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 50;
}
.freeBox___70Att {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  left: auto;
  top: auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgb(249, 249, 250);
  align-content: unset;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__isVisible_isPublic___70AttunhQv {
  padding: 55px 0px 0px;
}
.sidebar:global(.__wab_instance) {
  width: 52%;
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 250px;
}
.sidebar__isVisible_postDetails:global(.__wab_instance) {
  width: 20%;
  flex-shrink: 0;
  flex-grow: 0;
}
.sidebar__isVisible_mobileSidebar:global(.__wab_instance) {
  width: 250px;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .sidebar__isVisible_mobileSidebar:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 767px) {
  .sidebar__isVisible_isPublic:global(.__wab_instance) {
    display: none;
  }
}
.freeBox__m5KNe {
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.freeBox__cJlKh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 767px) {
  .freeBox__cJlKh {
    padding: 55px 0px 0px;
  }
}
.freeBox__isVisible_postDetails__cJlKhbZmLb {
  width: auto;
  justify-content: center;
  align-items: stretch;
  align-content: unset;
  display: inline-flex;
  flex-direction: row;
  flex-row-gap: 0px;
}
@media (min-width: 1201px) {
  .freeBox__isVisible_postDetails__cJlKhbZmLb {
    width: 100%;
    max-width: 1323px;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: unset;
    min-width: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .freeBox__isVisible_postDetails__cJlKhbZmLb {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 767px) {
  .freeBox__isVisible_isPublic__cJlKhunhQv {
    padding: 0px;
  }
}
.mainContainer {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;
  padding-bottom: 66px;
  align-content: unset;
  width: auto;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 500px;
}
@media (max-width: 767px) {
  .mainContainer {
    justify-content: center;
    align-items: flex-start;
    align-content: unset;
  }
}
.mainContainer__isVisible_postDetails {
  flex-grow: 0;
  width: auto;
  flex-shrink: 1;
  display: inline-flex;
}
@media (min-width: 1201px) {
  .mainContainer__isVisible_postDetails {
    width: auto;
    flex-shrink: 1;
    flex-grow: 0;
    display: inline-flex;
  }
}
.main:global(.__wab_instance) {
  align-self: auto;
  width: 100%;
  min-width: 0;
}
@media (max-width: 767px) {
  .main:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.main__isVisible_postDetails:global(.__wab_instance) {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  min-width: 0;
}
.freeBox___49Hi7 {
  display: none;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .freeBox___49Hi7 {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
  }
}
@media (max-width: 767px) {
  .freeBox___49Hi7 {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
  }
}
.freeBox__isVisible_postDetails___49Hi7BZmLb {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: unset;
  display: inline-flex;
  flex-direction: column;
  z-index: 1000;
  width: auto;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  flex-column-gap: 0px;
  min-height: 0;
  padding: 30px 20px 30px 0px;
}
@media (min-width: 1201px) {
  .freeBox__isVisible_postDetails___49Hi7BZmLb {
    flex-grow: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .freeBox__isVisible_postDetails___49Hi7BZmLb {
    position: absolute;
    width: 100%;
    flex-shrink: 1;
    flex-grow: 0;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 767px) {
  .freeBox__isVisible_postDetails___49Hi7BZmLb {
    position: absolute;
    bottom: auto;
    top: auto;
    width: 100%;
    left: auto;
    right: auto;
    height: 100vh;
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 1201px) {
  .postDetails:global(.__wab_instance) {
    max-width: 430px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .postDetails:global(.__wab_instance) {
    max-width: 430px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .postDetails:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.postDetails__isVisible_postDetails:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  position: relative;
  left: auto;
  top: auto;
  min-width: 380px;
  min-height: 0;
}
@media (min-width: 1201px) {
  .postDetails__isVisible_postDetails:global(.__wab_instance) {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .postDetails__isVisible_postDetails:global(.__wab_instance) {
    position: relative;
    height: 93vh;
    flex-shrink: 0;
  }
}
