.root {
  display: flex;
  width: 280px;
  height: 100%;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  transition-property: all;
  transition-duration: 1s;
  min-height: 0;
  padding: 30px 20px 60px;
}
.topSidebar {
  display: flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-top: 20px;
  min-width: 0;
}
.homeItem:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.box__kfUkZ {
  text-transform: uppercase;
  width: 204px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.box__hasValue__kfUkZjgEIm {
  text-transform: uppercase;
}
.svg__vBlK {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
  border-radius: 100%;
}
.scrollContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  overflow: auto;
  height: auto;
}
.settingsContainer {
  display: flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: column;
  border-top-width: 1px;
  padding-top: 10px;
  min-width: 0;
  border-style: solid;
  border-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.settingsItem:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.box__lhM5N {
  font-size: 16px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 193px;
}
.box__hasValue__lhM5NjgEIm {
  text-transform: uppercase;
}
.startIcon3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
  border-radius: 100%;
}
.startIcon3__hasValue {
  width: 24px;
}
.timelinesContainer {
  display: flex;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-top: 40px;
  overflow: visible;
  min-width: 0;
  border-top: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.sidebarItem__iKtWk:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.box__pMluL {
  font-size: 16px;
  height: auto;
  width: 241px;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.svg___0F7J {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  border-radius: 100%;
}
.sidebarItem__e6KpG:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.box__jgsq {
  font-size: 16px;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 233px;
}
.svg__q648I {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  border-radius: 100%;
}
.sidebarItem__zGgf7:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.box___7F5M7 {
  font-size: 16px;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 239px;
}
.svg__tn3Q3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  border-radius: 100%;
}
.sidebarItem__yHw7F:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.box___7SQ2 {
  width: 250px;
  font-size: 16px;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.svg___7Ajv4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  border-radius: 100%;
}
.sidebarForm {
  display: flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 20px;
  min-width: 0;
  border-top: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.sidebarForm > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.sidebarForm > :global(.__wab_flex-container) > *,
.sidebarForm > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.sidebarForm__hasValue {
  left: auto;
  top: auto;
}
.addTimelineInput {
  position: relative;
  width: 100%;
  font-size: 16px;
  min-width: 0;
  border-width: 0px;
}
.addTimeline:global(.__wab_instance) {
  position: relative;
  height: 34px;
  width: 34px;
  flex-shrink: 0;
}
.startIcon2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
  border-radius: 100%;
}
.endIcon {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
  border-radius: 100%;
}
