.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 2px;
  min-width: 0;
  padding: 5px 10px;
  border-style: solid;
  border-color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.box {
  display: flex;
  position: relative;
  padding: 0px;
}
.slotOrganizationName {
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}
.showAddTimeline {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 18px;
  cursor: pointer;
  flex-shrink: 0;
}
