.switcher {
  width: 56px;
  height: 29px;
  display: block;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-right: 3px;
  padding-left: 3px;
  position: relative;
  transition-property: all, all;
  transition-duration: 1s, 1s;
  cursor: pointer;
  border-radius: 44px;
  background: linear-gradient(rgb(187, 187, 187), rgb(187, 187, 187))
    /* plasmic-token: gYMfVVYI5, gYMfVVYI5 */;
}
.switcher__isSelected {
  justify-content: flex-end;
  background: linear-gradient(rgb(88, 176, 113), rgb(88, 176, 113))
    /* plasmic-token: xsIYHQwoE, xsIYHQwoE */;
}
.svg {
  position: absolute;
  object-fit: cover;
  width: 19px;
  height: 19px;
  color: #fff;
  display: block;
  left: 5px;
  top: 5px;
  align-self: center;
  transition-property: all;
  transition-duration: 1s;
}
.svg__isSelected {
  left: 30px;
  top: 3px;
  width: 23px;
  height: 23px;
}
