.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
}
.figmaPaste {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  min-width: 0;
}
.slotInputTitle {
  font-size: 16px /* plasmic-token: mV0JUhpGq */;
  font-weight: 600;
}
.buttonToggleSwitcher:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: center;
  flex-shrink: 0;
}
