.timelineSelect {
  display: flex;
  flex-direction: row;
  width: 160px;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.timelineSelect > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.timelineSelect > :global(.__wab_flex-container) > *,
.timelineSelect > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
.timelineSelect__timelineSelected {
  width: 160px;
  flex-grow: 0;
}
.box__lnRel {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  align-self: center;
  width: auto;
  height: auto;
}
.box__lnRel > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.box__lnRel > :global(.__wab_flex-container) > *,
.box__lnRel > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
.svg {
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
  flex-shrink: 0;
}
.svg__isActive {
  color: rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
}
.box__nTNtH {
  font-weight: 400;
  width: auto;
  height: auto;
  white-space: pre;
  display: inline-block;
}
