.root {
  display: flex;
  width: 35px;
  height: 35px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #df9999;
  border-radius: 100%;
}
@media (max-width: 767px) {
  .root {
    width: 26px;
    height: 26px;
  }
}
.rootvariant_isLarge {
  width: 80px;
  height: 80px;
}
.freeBox {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
}
.slotTargetUserInitials {
  font-size: 18px;
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
  font-weight: 600;
}
@media (max-width: 767px) {
  .slotTargetUserInitials {
    font-size: 12px /* plasmic-token: LxqIZc9hM */;
  }
}
.slotTargetUserInitialsvariant_isLarge {
  font-size: 39px;
}
