.root {
  box-shadow: 2px 2px 5px 2px rgba(212, 212, 212, 0.2);
  background: #ffffff;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  transition-property: all;
  transition-duration: 300ms;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  border-radius: 10px;
  padding: 15px 20px;
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox__qVw1C {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: 0px;
  left: 0px;
  z-index: 3;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__qxUjW {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background: #443d5e;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 20px;
  border-bottom: 1px solid rgb(224, 224, 224)
    /* plasmic-token: 9--4ZPcisViPq8V */;
}
.slotTargetChildren {
  font-size: 15px /* plasmic-token: mV0JUhpGq */;
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
}
.close:global(.__wab_instance) {
  position: relative;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
  min-width: 0;
  min-height: 0;
}
.freeBox__n7A9B {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  height: 100%;
  min-height: 0;
  margin: 0px;
}
.post:global(.__wab_instance) {
  position: relative;
}
.userName3 {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 14px /* plasmic-token: nh1PV_1Nt */;
  color: #2e8c8d /* plasmic-token: Jfzps88GdGw80SE */;
}
.date3 {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 14px /* plasmic-token: nh1PV_1Nt */;
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
.repliesContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.userName2 {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 16px;
}
.date2 {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-weight: 300;
}
.replyInput:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
