.root {
  display: flex;
  width: 100%;
  position: relative;
  min-width: 0;
}
.container {
  display: flex;
  position: relative;
  flex-direction: row;
}
.container > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
.slotChildren {
  color: rgb(218, 36, 82) /* plasmic-token: 56n5925l5 */;
}
.svg__eqR5W {
  position: relative;
  object-fit: cover;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.slotMessage {
  font-size: 14px /* plasmic-token: nh1PV_1Nt */;
  font-weight: 300;
  color: rgb(218, 36, 82) /* plasmic-token: NYSf9tLZvxevghS */;
}
