.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  align-items: flex-end;
  min-width: 0;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background: rgb(249, 249, 250);
  min-width: 0;
  padding: 10px 20px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.root:focus-within .freeBox {
  outline: none;
}
.replyForm {
  height: auto;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  overflow: visible;
  min-width: 0;
  border-radius: 0px;
  border: 0px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.replyForm > :global(.__wab_flex-container) {
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.replyForm > :global(.__wab_flex-container) > *,
.replyForm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.replyForm > :global(.__wab_flex-container) > picture > img,
.replyForm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.replyInput {
  background: #ffffff;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  height: auto;
  min-width: 0;
  border-radius: 10px;
  padding: 15px 20px;
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.root:focus-within .replyInput {
  outline: none;
  border-color: #2e8c8d /* plasmic-token: Jfzps88GdGw80SE */;
}
.root .replyInput::placeholder {
  color: rgb(187, 187, 187) /* plasmic-token: gYMfVVYI5 */;
}
.postReplyButton:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.root:focus-within .postReplyButton:global(.__wab_instance) {
  outline: none;
}
.text {
  height: auto;
  width: auto;
  font-family: "Poppins", sans-serif;
  display: inline-block;
}
.root:focus-within .text {
  outline: none;
}
.svg___7KKO {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
