.root {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox___2Z8 {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 767px) {
  .freeBox___2Z8 {
    padding-top: 75px;
  }
}
.header:global(.__wab_instance) {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
}
.freeBox__lHnLh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  left: auto;
  top: auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgb(249, 249, 250);
  min-width: 0;
  min-height: 0;
  margin: 55px 0px 0px;
}
@media (max-width: 767px) {
  .freeBox__lHnLh {
    align-items: flex-start;
    overflow: auto;
    padding: 20px 0px 40px;
    margin: 0px;
  }
}
.freeBox__sMn2A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 10%;
}
.freeBox__sMn2A > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 5%);
  height: calc(100% + 5%);
}
.freeBox__sMn2A > :global(.__wab_flex-container) > *,
.freeBox__sMn2A > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 5%;
}
@media (max-width: 767px) {
  .freeBox__sMn2A {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    padding: 10px 0px;
  }
}
@media (max-width: 767px) {
  .freeBox__sMn2A > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 19px);
    height: calc(100% + 19px);
  }
}
@media (max-width: 767px) {
  .freeBox__sMn2A > :global(.__wab_flex-container) > *,
  .freeBox__sMn2A > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 19px;
  }
}
.freeBox__uwKvi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 57%;
}
.freeBox__uwKvi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 17px);
  height: calc(100% + 17px);
}
.freeBox__uwKvi > :global(.__wab_flex-container) > *,
.freeBox__uwKvi > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 17px;
}
@media (max-width: 767px) {
  .freeBox__uwKvi {
    width: 100%;
    padding: 10px 30px;
  }
}
.freeBox__hRcye {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.freeBox___3W6Kg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.h2___608W3 {
  display: flex;
  flex-direction: row;
}
.freeBox__u899S {
  position: relative;
  font-size: 26px /* plasmic-token: TujpjiAsC */;
  font-weight: 300;
  line-height: 1.31;
}
@media (max-width: 767px) {
  .freeBox__u899S {
    font-size: 22px /* plasmic-token: y8zaQOVwJ */;
    text-align: center;
    line-height: 1.1;
  }
}
.span {
  display: flex;
  flex-direction: row;
}
.slotVentureName {
  font-size: 26px /* plasmic-token: TujpjiAsC */;
  font-weight: 600;
  line-height: 1.31;
}
@media (max-width: 767px) {
  .slotVentureName {
    font-size: 22px /* plasmic-token: y8zaQOVwJ */;
    text-align: center;
    line-height: 1.1;
  }
}
.freeBox__zlDnp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__vnLD {
  font-size: 26px /* plasmic-token: TujpjiAsC */;
  font-weight: 300;
  line-height: 1.31;
  width: 100%;
  min-width: 0;
}
@media (max-width: 767px) {
  .h2__vnLD {
    font-size: 22px /* plasmic-token: y8zaQOVwJ */;
    text-align: center;
    line-height: 1.1;
  }
}
.p {
  position: relative;
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
  height: auto;
  width: 378px;
}
@media (max-width: 767px) {
  .p {
    text-align: center;
  }
}
.viewCreateVenture:global(.__wab_instance) {
  position: relative;
}
.svg__s6MQ5 {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.text2 {
  height: auto;
  width: auto;
  display: inline-block;
}
.svg__mgWdW {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
