.root {
  position: relative;
  width: auto;
  display: inline-flex;
  flex-direction: row;
  height: auto;
  cursor: pointer;
  background-color: rgba(38, 26, 63, 0.1) /* plasmic-token: u3JIt-BuU8GbDfJ */;
  border-radius: 8px;
  padding: 5px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
.root____focusVisibleWithin {
  background-color: rgba(2, 157, 127, 0.5) /* plasmic-token: ktdOhSoiQwPKRUS */;
  outline: none;
  padding: 5px;
}
.root:hover {
  background-color: rgba(2, 157, 127, 0.5) /* plasmic-token: YRJle7f6cdaqkr9 */;
}
.startIcon {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
  flex-shrink: 0;
}
.box {
  display: inline-flex;
  position: relative;
  align-self: center;
  height: auto;
  width: auto;
}
.slotContent {
  text-align: center;
}
.slotContent__isDisabled_isDisabled {
  color: rgba(38, 26, 63, 0.5) /* plasmic-token: lwU_HL5JBOkJ3g0 */;
}
.endIcon {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
  flex-shrink: 0;
}
