.root {
  display: flex;
  width: 280px;
  height: auto;
  position: relative;
}
.itemContainer {
  display: flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: 100%;
  height: auto;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  min-width: 0;
}
.itemContainer > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.itemContainer > :global(.__wab_flex-container) > *,
.itemContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
  margin-top: 0px;
}
.itemContainer__isCurrent_isCurrent {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
}
.itemContainer__isCurrent_isCurrent > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.itemContainer__isCurrent_isCurrent > :global(.__wab_flex-container) > *,
.itemContainer__isCurrent_isCurrent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 5px;
  margin-top: 0px;
}
.root:hover .itemContainer {
  background-color: rgba(2, 157, 127, 0.5) /* plasmic-token: ktdOhSoiQwPKRUS */;
}
.box__v0Fwk {
  display: block;
  position: relative;
  width: 3px;
  background-color: rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.box__isCurrent_isCurrent__v0Fwk0Mgpk {
  width: 3px;
  background-color: rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.box__zwdJs {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
}
.box__isCurrent_isCurrent__zwdJs0Mgpk {
  height: auto;
}
.slotName {
  font-size: 24px;
}
