.root {
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
}
.group64 {
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
  background-color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
  opacity: 1;
  transform: scale(1, 1) rotate(0deg);
  width: 450px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 0px;
}
.rectangle587 {
  opacity: 1;
  transform: scale(1, 1) rotate(0deg) translate(0px, 0px);
  background-color: rgba(244, 244, 244, 1);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  transform-origin: top left;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom-width: 2px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  min-width: 0;
  border-style: solid;
  border-color: rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
}
.rectangle587 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.rectangle587 > :global(.__wab_flex-container) > *,
.rectangle587 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 10px;
}
.label3 {
  opacity: 1;
  background-color: transparent;
  display: block;
  font-size: 16px;
  text-align: center;
  text-transform: none;
  text-decoration-line: none;
  font-family: "SF Pro Display";
  font-weight: 700;
  letter-spacing: 0.491px;
  line-height: 18px;
  color: rgba(36, 25, 62, 1);
  width: auto;
  height: auto;
  transform: scale(1, 1) rotate(0deg);
  position: relative;
  left: auto;
  top: auto;
}
.ventureMark {
  opacity: 1;
  background-color: transparent;
  display: block;
  font-size: 20px;
  text-align: left;
  text-transform: none;
  text-decoration-line: none;
  font-family: "Roboto";
  font-weight: 700;
  letter-spacing: 0.19332999999999997em;
  color: rgba(36, 25, 62, 1);
  position: relative;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  transform: scale(1, 1) rotate(0deg) translate(0px, 0px);
  transform-origin: top left;
}
.welcomeForm {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 20px;
}
.welcomeForm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.welcomeForm > :global(.__wab_flex-container) > *,
.welcomeForm > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 20px;
}
.box___0WolP {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 3;
  padding: 0px 0px 20px;
}
.box___0WolP > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.box___0WolP > :global(.__wab_flex-container) > *,
.box___0WolP > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 30px;
}
.selectUserContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.label {
  opacity: 1;
  background-color: transparent;
  display: block;
  font-size: 16px;
  text-align: center;
  text-transform: none;
  text-decoration-line: none;
  font-family: "SF Pro Display";
  font-weight: 700;
  letter-spacing: 0.491px;
  line-height: 18px;
  color: rgba(36, 25, 62, 1);
  width: auto;
  height: auto;
  transform: scale(1, 1) rotate(0deg);
  position: relative;
  left: auto;
  top: auto;
}
.selectUserContainer2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.label2 {
  opacity: 1;
  background-color: transparent;
  display: block;
  font-size: 16px;
  text-align: center;
  text-transform: none;
  text-decoration-line: none;
  font-family: "SF Pro Display";
  font-weight: 700;
  letter-spacing: 0.491px;
  line-height: 18px;
  color: rgba(36, 25, 62, 1);
  width: auto;
  height: auto;
  transform: scale(1, 1) rotate(0deg);
  position: relative;
  left: auto;
  top: auto;
}
.selectUserButton:global(.__wab_instance) {
  position: relative;
}
.box__ljTa5 {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.box__ljTa5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.box__ljTa5 > :global(.__wab_flex-container) > *,
.box__ljTa5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 20px;
}
.box__aUujC {
  display: flex;
  position: relative;
  opacity: 1;
  width: 69.15%;
  transform: scale(1, 1) rotate(0deg) translate(0px, 0px);
  transform-origin: top left;
}
.slotOrganizationDescription {
  font-family: "SF Pro Text";
  font-size: 12px;
  font-weight: 400;
  color: rgba(117, 117, 117, 1);
  text-align: center;
  text-transform: none;
  letter-spacing: 0px;
}
.slotOrganizationDescription > * {
  text-decoration-line: none;
}
