.settings {
  box-shadow: 2px 2px 5px 2px rgba(212, 212, 212, 0.2);
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
  border-radius: 10px;
  padding: 6% 10%;
  background: linear-gradient(#ffffff, #ffffff)
    /* plasmic-token: sm1UmsjMUgvPdL9, sm1UmsjMUgvPdL9 */;
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.settings > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 18px);
  height: calc(100% + 18px);
}
.settings > :global(.__wab_flex-container) > *,
.settings > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 18px;
}
.box__nqvhu {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: column;
  margin-bottom: 10px;
}
.slotChildren {
  font-size: 30px /* plasmic-token: TujpjiAsC */;
  font-weight: 600;
}
.inputText__bXf6P:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.inputTextArea:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.box__uCWf {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
}
.box__uCWf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.box__uCWf > :global(.__wab_flex-container) > *,
.box__uCWf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 6px;
}
.box___8V79Q {
  position: relative;
  font-weight: 700;
  color: rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
  font-family: "SF Pro Display";
}
.box__katKc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  padding: 0px 0px 10px;
  border-bottom: 1px solid rgb(224, 224, 224)
    /* plasmic-token: 9--4ZPcisViPq8V */;
}
.slotSlot2 {
  font-weight: 600;
}
._switch:global(.__wab_instance) {
  position: relative;
}
.box___9CoNs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  top: auto;
  left: auto;
  padding-top: 28px;
}
.svg__ogZaY {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.text2 {
  height: auto;
  width: auto;
  display: inline-block;
}
.svg__f4Aw {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
