.metricItem {
  display: inline-flex;
  background-color: #ffffff /* plasmic-token: sm1UmsjMUgvPdL9 */;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.box__xyvDg {
  display: inline-flex;
  position: relative;
}
.slotName {
  font-weight: 500;
  font-size: 16px;
}
.box___0LbRl {
  display: inline-flex;
  position: relative;
  align-items: flex-start;
  align-self: flex-start;
}
.graphContainer {
  object-fit: cover;
  width: 560px;
  height: 150px;
  align-self: flex-end;
  position: relative;
  flex-shrink: 0;
}
