.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 15px 5px;
  border-top: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.freeBox__vAfXq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: flex-end;
}
.freeBox__vAfXq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.freeBox__vAfXq > :global(.__wab_flex-container) > *,
.freeBox__vAfXq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vAfXq > :global(.__wab_flex-container) > picture > img,
.freeBox__vAfXq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.photoAvatar:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.photoAvataruserVariant_isRequested:global(.__wab_instance) {
  flex-shrink: 0;
}
.slotTargetSlot3 {
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
.svg {
  position: relative;
  object-fit: cover;
  color: rgb(187, 187, 187) /* plasmic-token: gYMfVVYI5 */;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
  display: block;
}
.svguserVariant_isRequested {
  display: none;
}
.svguserVariant_isMember {
  display: none;
}
.svguserVariant_isSelf {
  display: none;
}
.svgisOwner_userVariant_isMember {
  display: none;
}
.svgisOwner_userVariant_isRequested {
  display: none;
}
.freeBox__ymOfc {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__ymOfc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__ymOfc > :global(.__wab_flex-container) > *,
.freeBox__ymOfc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ymOfc > :global(.__wab_flex-container) > picture > img,
.freeBox__ymOfc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.freeBoxuserVariant_isMember__ymOfcGdyZr {
  display: flex;
}
.ownerSelect:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.ownerSelectuserVariant_isSelf:global(.__wab_instance) {
  display: flex;
}
.ownerSelectisOwner:global(.__wab_instance) {
  display: flex;
}
.dropdownIcon {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 20px;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.remove:global(.__wab_instance) {
  position: relative;
}
.text___5GQ6G {
  position: relative;
}
.textuserVariant_isSelf_isOwner___5GQ6GAAx2ZPkRzz {
  font-size: 12px /* plasmic-token: LxqIZc9hM */;
  color: rgb(187, 187, 187) /* plasmic-token: gYMfVVYI5 */;
}
