.root {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: unset;
  padding-bottom: 25px;
  min-width: 0;
}
.root__isOwner {
  padding: 0px;
}
.venture:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__fqyEx {
  font-size: 16px;
  height: auto;
  width: auto;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}
.itemContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.itemContainer__isCollapsed {
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
}
.freeBox__fPdD {
  font-size: 16px;
  height: auto;
  width: auto;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}
.itemContainer2 {
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  flex-direction: row;
  cursor: pointer;
  overflow: visible;
  background: rgba(68, 192, 255, 0);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 10px;
  border-left: 2px solid rgba(255, 255, 255, 0) /* plasmic-token: W4gFmUIar */;
}
.itemContainer2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.itemContainer2 > :global(.__wab_flex-container) > *,
.itemContainer2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 6px;
}
.itemContainer2__isPublic {
  padding-left: 30px;
}
.freeBox__qDvH0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__g8Bxr {
  object-fit: cover;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.icon:global(.__wab_instance) {
  position: relative;
}
.svg__d4BHp {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__muwKg {
  width: 100%;
  display: flex;
  position: relative;
  height: auto;
  flex-grow: 3;
  overflow: hidden;
  min-width: 0;
}
.freeBox__muwKg > :global(.__wab_flex-container) {
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__muwKg > :global(.__wab_flex-container) > *,
.freeBox__muwKg > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.freeBox___4CYes {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__isPublic___4CYesYwyIq {
  width: 100%;
  height: 20px;
  background: #f1f1f1;
  min-width: 0;
  border-radius: 8px;
}
.dropdown__yc39:global(.__wab_instance) {
  position: absolute;
  left: auto;
  top: 29px;
  right: 7px;
}
.itemContainer22 {
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  flex-direction: row;
  cursor: pointer;
  overflow: visible;
  background: rgba(68, 192, 255, 0);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 10px;
  border-left: 2px solid rgba(255, 255, 255, 0) /* plasmic-token: W4gFmUIar */;
}
.itemContainer22 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.itemContainer22 > :global(.__wab_flex-container) > *,
.itemContainer22 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 6px;
}
.itemContainer22__isPublic {
  padding-left: 30px;
  opacity: 0.6;
}
.freeBox___8BmYf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__vtleO {
  object-fit: cover;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.icon2:global(.__wab_instance) {
  position: relative;
}
.svg__lNyW {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__e2Uwa {
  width: 100%;
  display: flex;
  position: relative;
  height: auto;
  flex-grow: 3;
  overflow: hidden;
  min-width: 0;
}
.freeBox__e2Uwa > :global(.__wab_flex-container) {
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__e2Uwa > :global(.__wab_flex-container) > *,
.freeBox__e2Uwa > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.freeBox__v4P01 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__isPublic__v4P01YwyIq {
  width: 100%;
  height: 20px;
  background: #f1f1f1;
  min-width: 0;
  border-radius: 8px;
}
.dropdown__xCvLh:global(.__wab_instance) {
  position: absolute;
  left: auto;
  top: 29px;
  right: 7px;
}
.itemContainer222 {
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  flex-direction: row;
  cursor: pointer;
  overflow: visible;
  background: rgba(68, 192, 255, 0);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 10px;
  border-left: 2px solid rgba(255, 255, 255, 0) /* plasmic-token: W4gFmUIar */;
}
.itemContainer222 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.itemContainer222 > :global(.__wab_flex-container) > *,
.itemContainer222 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 6px;
}
.itemContainer222__isPublic {
  padding-left: 30px;
  opacity: 0.3;
}
.freeBox__rjyq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__lo3H {
  object-fit: cover;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.icon22:global(.__wab_instance) {
  position: relative;
}
.svg__ssKf {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__ulWg4 {
  width: 100%;
  display: flex;
  position: relative;
  height: auto;
  flex-grow: 3;
  overflow: hidden;
  min-width: 0;
}
.freeBox__ulWg4 > :global(.__wab_flex-container) {
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__ulWg4 > :global(.__wab_flex-container) > *,
.freeBox__ulWg4 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.freeBox__my23 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__isPublic__my23YwyIq {
  width: 100%;
  height: 20px;
  background: #f1f1f1;
  min-width: 0;
  border-radius: 8px;
}
.dropdown__gPf5P:global(.__wab_instance) {
  position: absolute;
  left: auto;
  top: 29px;
  right: 7px;
}
.freeBox__f9Ow1 {
  font-size: 16px;
  height: auto;
  width: auto;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}
