.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 10px 40px;
  border-top: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
  border-bottom: 0px solid rgb(224, 224, 224)
    /* plasmic-token: 9--4ZPcisViPq8V */;
}
.members {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.members__visibilityType_members {
  display: flex;
}
.freeBox__kyiVc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (max-width: 767px) {
  .freeBox__kyiVc {
    display: none;
  }
}
.svg___9CuS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 30px;
  min-height: 0;
}
.freeBox__dFstR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__jKZx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetSlot2 {
  font-size: 18px /* plasmic-token: UFZg3bUaA */;
}
.freeBox__pKszk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
._private {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
._private__visibilityType__private {
  display: flex;
}
.freeBox__uHr1P {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (max-width: 767px) {
  .freeBox__uHr1P {
    display: none;
  }
}
.svg__rTnCb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 30px;
  min-height: 0;
}
.freeBox__bwnan {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__dLbL0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetSlot3 {
  font-size: 18px /* plasmic-token: UFZg3bUaA */;
}
.freeBox___2DDls {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
._public {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
._public__visibilityType_members {
  display: none;
}
._public__visibilityType__private {
  display: none;
}
.freeBox__foune {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (max-width: 767px) {
  .freeBox__foune {
    display: none;
  }
}
.svg___30WZw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 30px;
  min-height: 0;
}
.freeBox__r3IbM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___52Vad {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetSlot4 {
  font-size: 18px /* plasmic-token: UFZg3bUaA */;
}
.freeBox__ho20O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__jq2M {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__qw1Sl {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.dropdown {
  box-shadow: 2px 2px 5px 2px rgba(212, 212, 212, 0.2);
  background: #ffffff;
  transform: scale(1, 1) rotate(0deg);
  opacity: 1;
  width: auto;
  height: auto;
  flex-direction: column;
  position: absolute;
  left: auto;
  top: 55px;
  right: 7px;
  display: none;
  border-radius: 5px;
  padding: 10px 0px;
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.dropdown__isDropdown {
  display: flex;
}
.ul {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.ul > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.ul > :global(.__wab_flex-container) > *,
.ul > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ul > :global(.__wab_flex-container) > picture > img,
.ul > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 15px;
}
.listItem__v40Od:global(.__wab_instance) {
  position: relative;
}
.listItem__tnBd:global(.__wab_instance) {
  position: relative;
}
.listItem__uJu6U:global(.__wab_instance) {
  position: relative;
}
