.root {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(68, 192, 255, 0);
  width: 750px;
  height: 209px;
  position: relative;
  padding-left: 74px;
  padding-right: 74px;
}
.root__state_text {
  height: 209px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 750px;
  padding-left: 74px;
}
.root__state_graph {
  width: 750px;
  display: flex;
  flex-direction: row;
  height: 209px;
}
.root__hasValue_hasValue {
  padding-right: 0px;
}
.root__state_text_hasValue_hasValue {
  padding-left: 74px;
}
.root:hover {
  padding-left: 0px;
}
.root__state_text:hover {
  flex-column-gap: 0px;
  width: 750px;
  justify-content: flex-start;
}
.updateActionContainer {
  display: inline-flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0);
  width: auto;
  height: 100%;
  flex-direction: column;
  min-height: 0;
  padding: 20px;
}
.updateActionContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.updateActionContainer > :global(.__wab_flex-container) > *,
.updateActionContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 10px;
}
.updateActionContainer__state_text {
  height: 100%;
  width: auto;
  display: inline-flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(68, 192, 255, 0);
  align-self: flex-start;
  min-height: 0;
}
.updateActionContainer__state_text > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-evenly;
}
.iconButton__i1WjS:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.iconButton__state_text__i1WjS9Dd:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.startIcon {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.iconButton__zHnWq:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.iconButton__state_text__zHnWq9Dd:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.startIcon2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.toggleUpdateView:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.toggleUpdateView__state_text:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.startIcon22 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  left: auto;
  top: auto;
  color: rgb(38, 26, 63) /* plasmic-token: pJ8JNfS_nOyDpci */;
}
.contentContainer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
  flex-shrink: 0;
}
.contentContainer__state_text:global(.__wab_instance) {
  top: auto;
  left: auto;
  align-self: flex-start;
}
.contentContainer__state_graph:global(.__wab_instance) {
  top: auto;
  left: auto;
}
.contentContainer__state_text_hasValue_hasValue:global(.__wab_instance) {
  width: auto;
}
