.root {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  min-width: 0;
  background: rgba(255, 255, 255, 0);
  border-style: solid;
  border-color: rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.editorContainer {
  box-shadow: 2px 2px 5px 2px rgba(212, 212, 212, 0.2);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  overflow: auto;
  min-width: 0;
  border-radius: 10px;
  padding: 30px 40px;
  background: linear-gradient(#ffffff, #ffffff)
    /* plasmic-token: sm1UmsjMUgvPdL9, sm1UmsjMUgvPdL9 */;
  border: 1px solid rgb(224, 224, 224) /* plasmic-token: 9--4ZPcisViPq8V */;
}
.editorContainer__state_isPostDetails {
  box-shadow: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-radius: 0px;
  padding: 10px 20px;
  background: none;
}
.box__z3Q65 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px 0px 20px;
}
.textContainer2 {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
}
.textContainer2 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.textContainer2 > :global(.__wab_flex-container) > *,
.textContainer2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 15px;
}
.textContainer {
  position: relative;
  font-size: 18px /* plasmic-token: UFZg3bUaA */;
  font-weight: 700;
}
.textContainer3 {
  position: relative;
}
.box__vVNrv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0px;
  border-width: 0px;
}
.iconMenu {
  object-fit: cover;
  width: 23px;
  height: 26px;
  color: #4d4d4d;
  flex-shrink: 0;
}
.box__ehjLr {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: row;
  background: rgba(68, 192, 255, 0);
}
.box__ehjLr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.box__ehjLr > :global(.__wab_flex-container) > *,
.box__ehjLr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .box__ehjLr {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .box__ehjLr > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: flex-start;
    margin-left: calc(0px - 5px);
    width: calc(100% + 5px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .box__ehjLr > :global(.__wab_flex-container) > *,
  .box__ehjLr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 5px;
    margin-top: 0px;
  }
}
.box__kyNpO {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
}
.box__kyNpO > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.box__kyNpO > :global(.__wab_flex-container) > *,
.box__kyNpO > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 760px) {
  .box__kyNpO {
    left: auto;
    top: auto;
  }
}
.photoAvatar:global(.__wab_instance) {
  flex-shrink: 0;
}
.box__mkSty {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  flex-direction: column;
  flex-grow: 3;
  background: rgba(68, 192, 255, 0);
}
.box__mkSty > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.box__mkSty > :global(.__wab_flex-container) > *,
.box__mkSty > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 0px;
}
.box__fjL5B {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: row;
  min-width: 0;
  background: rgba(68, 192, 255, 0);
}
.box__fjL5B > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.box__fjL5B > :global(.__wab_flex-container) > *,
.box__fjL5B > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
.box__nwWG {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
}
.slotUserName {
  font-size: 16px;
  font-weight: 700;
}
.userName {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 14px /* plasmic-token: nh1PV_1Nt */;
  color: rgb(2, 157, 127) /* plasmic-token: Jfzps88GdGw80SE */;
}
.box__wDBh5 {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
}
.box__wDBh5 > :global(.__wab_flex-container) {
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.box__wDBh5 > :global(.__wab_flex-container) > *,
.box__wDBh5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 4px;
}
.slotDate {
  font-weight: 300;
}
.span__rwEsf {
  position: relative;
}
.date {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-size: 14px /* plasmic-token: nh1PV_1Nt */;
  color: rgb(117, 124, 135) /* plasmic-token: 1C_cuVvze */;
}
.box__vvzri {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: row;
  background: rgba(68, 192, 255, 0);
}
.box__vvzri > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.box__vvzri > :global(.__wab_flex-container) > *,
.box__vvzri > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
.timelineNamesContainer {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  cursor: pointer;
}
.timelineNamesContainer > :global(.__wab_flex-container) {
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.timelineNamesContainer > :global(.__wab_flex-container) > *,
.timelineNamesContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 5px;
}
.timelineLink:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.span__fuKna {
  width: auto;
  height: auto;
  cursor: pointer;
  position: relative;
  font-size: 14px /* plasmic-token: nh1PV_1Nt */;
  font-weight: 600;
}
.box__iRFwS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__w2QpP {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
.svg__i90Xz {
  position: relative;
  object-fit: cover;
  width: 17px;
  height: 14px;
}
